{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API",
    "version": "1.0.0",
    "description": "Every legacy endpoint in one document, merged from the per-resource files by tools/EConomic.SpecConverter. This is the code generation input. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/accounting-years": {
      "get": {
        "operationId": "getAccountingYears",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "fromDate",
          "toDate",
          "year"
        ],
        "x-sortable-fields": [
          "fromDate",
          "toDate",
          "year"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years"
        }
      },
      "post": {
        "operationId": "postAccountingYears",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYear"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYear"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingYearsPOST"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-accounting-years"
        }
      }
    },
    "/accounting-years/{accountingYear}": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYear",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYear"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear"
        }
      }
    },
    "/accounting-years/{accountingYear}/entries": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearEntries",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.entries.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "project.projectNumber",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "supplier.supplierGroup.supplierGroupNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "x-sortable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-entries"
        }
      }
    },
    "/accounting-years/{accountingYear}/periods": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearPeriods",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearPeriodsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.periods.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "periodNumber",
          "fromDate",
          "toDate"
        ],
        "x-sortable-fields": [
          "periodNumber",
          "fromDate",
          "toDate"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-periods"
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearPeriodsByaccountingYearPeriod",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearPeriod"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.periods.accountingYearPeriod.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-periods-accountingyearperiod"
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/entries": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearPeriodsByaccountingYearPeriodEntries",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearsEntriesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.periods.accountingYearPeriod.entries.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "project.projectNumber",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "x-sortable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-periods-accountingyearperiod-entries"
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/totals": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearPeriodsByaccountingYearPeriodTotals",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearPeriodTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.periods.accountingYearPeriod.totals.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [],
        "x-sortable-fields": [],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-periods-accountingyearperiod-totals"
        }
      }
    },
    "/accounting-years/{accountingYear}/totals": {
      "get": {
        "operationId": "getAccountingYearsByaccountingYearTotals",
        "tags": [
          "accounting-years"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "accounting-years.accountingYear.totals.get.schema.json",
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [],
        "x-sortable-fields": [],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounting-years-accountingyear-totals"
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "accountNumber",
          "accountType",
          "balance",
          "barred",
          "blockDirectEntries",
          "debitCredit",
          "name"
        ],
        "x-sortable-fields": [
          "accountNumber",
          "accountType",
          "balance",
          "blockDirectEntries",
          "debitCredit",
          "name"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts"
        }
      }
    },
    "/accounts/{accountNumber}": {
      "get": {
        "operationId": "getAccountsByaccountNumber",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYears",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "fromDate",
          "toDate",
          "closed",
          "year"
        ],
        "x-sortable-fields": [
          "fromDate",
          "toDate",
          "closed",
          "year"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYear",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYears"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/entries": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearEntries",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsEntriesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.entries.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "x-sortable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-entries"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/periods": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearPeriods",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountingYearPeriodsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.periods.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "fromDate",
          "toDate",
          "closed"
        ],
        "x-sortable-fields": [
          "fromDate",
          "toDate",
          "closed"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-periods"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/periods/{accountingYearPeriod}": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearPeriodsByaccountingYearPeriod",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearPeriod"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.periods.accountingYearPeriod.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-periods-accountingyearperiod"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/entries": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearPeriodsByaccountingYearPeriodEntries",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingYearsEntriesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.periods.accountingYearPeriod.entries.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "x-sortable-fields": [
          "amount",
          "supplierInvoiceNumber",
          "amountInBaseCurrency",
          "currency",
          "date",
          "dueDate",
          "costType.costTypeNumber",
          "entryNumber",
          "text",
          "entryType",
          "customer.customerNumber",
          "supplier.supplierNumber",
          "unit1.unitNumber",
          "unit2.unitNumber",
          "quantity1",
          "quantity2",
          "voucherNumber",
          "remainder",
          "remainderInBaseCurrency"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-periods-accountingyearperiod-entries"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/totals": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearPeriodsByaccountingYearPeriodTotals",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountingYearPeriodTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.periods.accountingYearPeriod.totals.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-periods-accountingyearperiod-totals"
        }
      }
    },
    "/accounts/{accountNumber}/accounting-years/{accountingYear}/totals": {
      "get": {
        "operationId": "getAccountsByaccountNumberAccountingYearsByaccountingYearTotals",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountingYearTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "accounts.accountNumber.accounting-years.accountingYear.totals.get.schema.json",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-accounts-accountnumber-accounting-years-accountingyear-totals"
        }
      }
    },
    "/app-roles": {
      "get": {
        "operationId": "getAppRoles",
        "tags": [
          "app-roles"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRolesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "app-roles.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "roleNumber"
        ],
        "x-sortable-fields": [
          "roleNumber"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-app-roles"
        }
      }
    },
    "/app-roles/{roleNumber}": {
      "get": {
        "operationId": "getAppRolesByroleNumber",
        "tags": [
          "app-roles"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRoles"
                }
              }
            }
          }
        },
        "x-economic-source": "app-roles.roleNumber.get.schema.json",
        "parameters": [
          {
            "name": "roleNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-app-roles-rolenumber"
        }
      }
    },
    "/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "tags": [
          "currencies"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "currencies.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [],
        "x-sortable-fields": [],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-currencies"
        }
      }
    },
    "/currencies/{code}": {
      "get": {
        "operationId": "getCurrenciesBycode",
        "tags": [
          "currencies"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "currencies.code.get.schema.json",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-currencies-code"
        }
      }
    },
    "/customer-groups": {
      "get": {
        "operationId": "getCustomerGroups",
        "tags": [
          "customer-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customer-groups.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "customerGroupNumber",
          "name",
          "account.accountNumber",
          "account.accountType",
          "account.balance",
          "account.blockDirectEntries",
          "account.debitCredit",
          "account.name"
        ],
        "x-sortable-fields": [
          "customerGroupNumber",
          "name",
          "account.accountNumber",
          "account.accountType",
          "account.balance",
          "account.blockDirectEntries",
          "account.debitCredit",
          "account.name"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customer-groups"
        }
      },
      "post": {
        "operationId": "postCustomerGroups",
        "tags": [
          "customer-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroup"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroup"
                }
              }
            }
          }
        },
        "x-economic-source": "customer-groups.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerGroupPOST"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-customer-groups"
        }
      }
    },
    "/customer-groups/{customerGroupNumber}": {
      "get": {
        "operationId": "getCustomerGroupsBycustomerGroupNumber",
        "tags": [
          "customer-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroup"
                }
              }
            }
          }
        },
        "x-economic-source": "customer-groups.customerGroupNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerGroupNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customer-groups-customergroupnumber"
        }
      }
    },
    "/customer-groups/{customerGroupNumber}/customers": {
      "get": {
        "operationId": "getCustomerGroupsBycustomerGroupNumberCustomers",
        "tags": [
          "customer-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupCustomerCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customer-groups.customerGroupNumber.customers.get.schema.json",
        "parameters": [
          {
            "name": "customerGroupNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "address",
          "balance",
          "corporateIdentificationNumber",
          "city",
          "country",
          "creditLimit",
          "currency",
          "customerNumber",
          "ean",
          "email",
          "name",
          "zip",
          "publicEntryNumber",
          "telephoneAndFaxNumber",
          "mobilePhone",
          "vatNumber",
          "website"
        ],
        "x-sortable-fields": [
          "address",
          "balance",
          "corporateIdentificationNumber",
          "city",
          "country",
          "creditLimit",
          "currency",
          "customerNumber",
          "ean",
          "email",
          "name",
          "zip",
          "publicEntryNumber",
          "telephoneAndFaxNumber",
          "mobilePhone",
          "vatNumber",
          "website"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customer-groups-customergroupnumber-customers"
        }
      }
    },
    "/customer-groups/{customergroupnumber}": {
      "put": {
        "operationId": "putCustomerGroupsBycustomergroupnumber",
        "tags": [
          "customer-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroup"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroup"
                }
              }
            }
          }
        },
        "x-economic-source": "customer-groups.customergroupnumber.put.schema.json",
        "parameters": [
          {
            "name": "customergroupnumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerGroupPUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-customer-groups-customergroupnumber"
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "getCustomers",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "address",
          "balance",
          "barred",
          "city",
          "corporateIdentificationNumber",
          "country",
          "creditLimit",
          "currency",
          "customerNumber",
          "ean",
          "email",
          "lastUpdated",
          "name",
          "publicEntryNumber",
          "telephoneAndFaxNumber",
          "mobilePhone",
          "vatNumber",
          "website",
          "zip",
          "customerGroup.customerGroupNumber"
        ],
        "x-sortable-fields": [
          "address",
          "balance",
          "city",
          "corporateIdentificationNumber",
          "country",
          "creditLimit",
          "currency",
          "customerNumber",
          "ean",
          "email",
          "lastUpdated",
          "name",
          "publicEntryNumber",
          "telephoneAndFaxNumber",
          "mobilePhone",
          "vatNumber",
          "website",
          "zip"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers"
        }
      },
      "post": {
        "operationId": "postCustomers",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPOST"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-customers"
        }
      }
    },
    "/customers/{customerNo}": {
      "put": {
        "operationId": "putCustomersBycustomerNo",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNo.put.schema.json",
        "parameters": [
          {
            "name": "customerNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-customers-customernumber"
        }
      }
    },
    "/customers/{customerNumber}": {
      "get": {
        "operationId": "getCustomersBycustomerNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber"
        }
      }
    },
    "/customers/{customerNumber}/contacts": {
      "get": {
        "operationId": "getCustomersBycustomerNumberContacts",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersCustomerContact"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.contacts.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "customerContactNumber",
          "email",
          "name",
          "phone",
          "eInvoiceId",
          "customer.customerNumber",
          "sortKey"
        ],
        "x-sortable-fields": [
          "customerContactNumber",
          "email",
          "name",
          "phone",
          "eInvoiceId",
          "customer.customerNumber",
          "sortKey"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-contacts"
        }
      },
      "post": {
        "operationId": "postCustomersBycustomerNumberContacts",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContact"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContact"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.contacts.post.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactPOST"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-customers-customernumber-contacts"
        }
      }
    },
    "/customers/{customerNumber}/contacts/{contactNumber}": {
      "get": {
        "operationId": "getCustomersBycustomerNumberContactsBycontactNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContactDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.contacts.contactNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contactNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-contacts-contactnumber"
        }
      },
      "put": {
        "operationId": "putCustomersBycustomerNumberContactsBycontactNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContact"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContact"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.contacts.contactNumber.put.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contactNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactPUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-customers-customernumber-contacts/:contactNumber"
        }
      }
    },
    "/customers/{customerNumber}/delivery-locations": {
      "get": {
        "operationId": "getCustomersBycustomerNumberDeliveryLocations",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocationCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.delivery-locations.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "address",
          "city",
          "country",
          "deliveryLocationNumber",
          "postalCode",
          "sortKey",
          "barred"
        ],
        "x-sortable-fields": [
          "address",
          "city",
          "country",
          "deliveryLocationNumber",
          "postalCode",
          "sortKey"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-delivery-locations"
        }
      },
      "post": {
        "operationId": "postCustomersBycustomerNumberDeliveryLocations",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocation"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocation"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.delivery-locations.post.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryLocationPOST"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-customers-customernumber-delivery-locations"
        }
      }
    },
    "/customers/{customerNumber}/delivery-locations/{deliveryLocationNumber}": {
      "get": {
        "operationId": "getCustomersBycustomerNumberDeliveryLocationsBydeliveryLocationNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocation"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.delivery-locations.deliveryLocationNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deliveryLocationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-delivery-locations-deliverylocationnumber"
        }
      },
      "put": {
        "operationId": "putCustomersBycustomerNumberDeliveryLocationsBydeliveryLocationNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocation"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryLocation"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.delivery-locations.deliveryLocationNumber.put.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deliveryLocationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryLocationPUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-customers-customernumber-delivery-locations-deliverylocationnumber"
        }
      }
    },
    "/customers/{customerNumber}/invoices": {
      "get": {
        "operationId": "getCustomersBycustomerNumberInvoices",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoices"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.invoices.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-invoices"
        }
      }
    },
    "/customers/{customerNumber}/invoices/booked": {
      "get": {
        "operationId": "getCustomersBycustomerNumberInvoicesBooked",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBookedInvoicesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.invoices.booked.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "bookedInvoiceNumber",
          "date",
          "currency",
          "paymentTerms.paymentTermsNumber",
          "customer.customerNumber",
          "recipient.name",
          "recipient.address",
          "recipient.zip",
          "recipient.city",
          "recipient.country",
          "recipient.ean",
          "recipient.publicEntryNumber",
          "deliveryLocation.deliveryLocationNumber",
          "delivery.address",
          "delivery.zip",
          "delivery.city",
          "delivery.country",
          "delivery.deliveryTerms",
          "delivery.deliveryDate",
          "notes.heading",
          "notes.textLine1",
          "notes.textLine2",
          "references.customerContact.customer.customerNumber",
          "references.salesPerson.employeeNumber",
          "references.vendorReference.employeeNumber",
          "references.other"
        ],
        "x-sortable-fields": [
          "bookedInvoiceNumber",
          "date",
          "currency",
          "paymentTerms.paymentTermsNumber",
          "customer.customerNumber",
          "recipient.name",
          "recipient.address",
          "recipient.zip",
          "recipient.city",
          "recipient.country",
          "recipient.ean",
          "recipient.publicEntryNumber",
          "deliveryLocation.deliveryLocationNumber",
          "delivery.address",
          "delivery.zip",
          "delivery.city",
          "delivery.country",
          "delivery.deliveryTerms",
          "delivery.deliveryDate",
          "notes.heading",
          "notes.textLine1",
          "notes.textLine2",
          "references.customerContact.customer.customerNumber",
          "references.salesPerson.employeeNumber",
          "references.vendorReference.employeeNumber",
          "references.other"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-invoices-booked"
        }
      }
    },
    "/customers/{customerNumber}/invoices/drafts": {
      "get": {
        "operationId": "getCustomersBycustomerNumberInvoicesDrafts",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDraftInvoicesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.invoices.drafts.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "draftInvoiceNumber",
          "date",
          "currency",
          "exchangeRate",
          "paymentTerms.paymentTermsNumber",
          "customer.customerNumber",
          "recipient.name",
          "recipient.address",
          "recipient.zip",
          "recipient.city",
          "recipient.country",
          "recipient.ean",
          "recipient.publicEntryNumber",
          "deliveryLocation.deliveryLocationNumber",
          "delivery.address",
          "delivery.zip",
          "delivery.city",
          "delivery.country",
          "delivery.deliveryTerms",
          "delivery.deliveryDate",
          "notes.heading",
          "notes.textLine1",
          "notes.textLine2",
          "references.customerContact.customer.customerNumber",
          "references.salesPerson.employeeNumber",
          "references.vendorReference.employeeNumber",
          "references.other"
        ],
        "x-sortable-fields": [
          "draftInvoiceNumber",
          "date",
          "currency",
          "exchangeRate",
          "paymentTerms.paymentTermsNumber",
          "customer.customerNumber",
          "recipient.name",
          "recipient.address",
          "recipient.zip",
          "recipient.city",
          "recipient.country",
          "recipient.ean",
          "recipient.publicEntryNumber",
          "deliveryLocation.deliveryLocationNumber",
          "delivery.address",
          "delivery.zip",
          "delivery.city",
          "delivery.country",
          "delivery.deliveryTerms",
          "delivery.deliveryDate",
          "notes.heading",
          "notes.textLine1",
          "notes.textLine2",
          "references.customerContact.customer.customerNumber",
          "references.salesPerson.employeeNumber",
          "references.vendorReference.employeeNumber",
          "references.other"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-invoices-drafts"
        }
      }
    },
    "/customers/{customerNumber}/templates": {
      "get": {
        "operationId": "getCustomersBycustomerNumberTemplates",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTemplates"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.templates.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-templates"
        }
      }
    },
    "/customers/{customerNumber}/templates/invoice": {
      "get": {
        "operationId": "getCustomersBycustomerNumberTemplatesInvoice",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTemplate"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.templates.invoice.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-templates-invoice"
        }
      }
    },
    "/customers/{customerNumber}/templates/invoiceline": {
      "get": {
        "operationId": "getCustomersBycustomerNumberTemplatesInvoiceline",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceLineTemplatesCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.templates.invoiceline.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "description",
          "product.productNumber"
        ],
        "x-sortable-fields": [
          "product.productNumber"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-templates-invoiceline"
        }
      }
    },
    "/customers/{customerNumber}/templates/invoiceline/{productNumber}": {
      "get": {
        "operationId": "getCustomersBycustomerNumberTemplatesInvoicelineByproductNumber",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersDraftInvoiceLineTemplate"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.templates.invoiceline.productNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-templates-invoiceline-productnumber"
        }
      }
    },
    "/customers/{customerNumber}/totals": {
      "get": {
        "operationId": "getCustomersBycustomerNumberTotals",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "customers.customerNumber.totals.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-customers-customernumber-totals"
        }
      }
    },
    "/departmental-distributions": {
      "get": {
        "operationId": "getDepartmentalDistributions",
        "tags": [
          "departmental-distributions"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentalDistributionSummaryCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "departmental-distributions.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "x-sortable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-departmental-distributions"
        }
      }
    },
    "/departmental-distributions/departments": {
      "get": {
        "operationId": "getDepartmentalDistributionsDepartments",
        "tags": [
          "departmental-distributions"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentalDistributionCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "departmental-distributions.departments.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "x-sortable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-departmental-distributions-departments"
        }
      }
    },
    "/departmental-distributions/departments/{departmentalDistributionNumber}": {
      "get": {
        "operationId": "getDepartmentalDistributionsDepartmentsBydepartmentalDistributionNumber",
        "tags": [
          "departmental-distributions"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentalDistribution"
                }
              }
            }
          }
        },
        "x-economic-source": "departmental-distributions.departments.departmentalDistributionNumber.get.schema.json",
        "parameters": [
          {
            "name": "departmentalDistributionNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-departmental-distributions-departments-deparmentaldistributionnumber"
        }
      }
    },
    "/departmental-distributions/distributions": {
      "get": {
        "operationId": "getDepartmentalDistributionsDistributions",
        "tags": [
          "departmental-distributions"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentalDistributionCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "departmental-distributions.distributions.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "x-sortable-fields": [
          "departmentalDistributionNumber",
          "name"
        ],
        "externalDocs": {
[...]
