{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - currencies",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "tags": [
          "currencies"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "currencies.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [],
        "x-sortable-fields": [],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-currencies"
        }
      }
    },
    "/currencies/{code}": {
      "get": {
        "operationId": "getCurrenciesBycode",
        "tags": [
          "currencies"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "currencies.code.get.schema.json",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-currencies-code"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "CurrencyCollection": {
        "title": "Currencies collection Schema",
        "description": "A schema for retrieving a collection of currencies.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of the currencies.",
            "items": {
              "$ref": "#/components/schemas/Currency"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the accounts collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "CurrencyDetails": {
        "title": "Currencies collection Schema",
        "description": "A schema for retrieving a collection of currencies.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50,
            "description": "The name of the currency."
          },
          "code": {
            "type": "string",
            "maxLength": 3,
            "description": "The ISO 4217 code of the currency."
          },
          "isoNumber": {
            "type": "string",
            "maxLength": 3,
            "description": "The ISO 4217 numeric code of the currency."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the currency resource."
          }
        },
        "required": [
          "self"
        ]
      },
      "Currency": {
        "title": "Currency schema",
        "type": "object",
        "description": "A schema for information about a currency.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50,
            "description": "The name of the currency."
          },
          "code": {
            "type": "string",
            "maxLength": 3,
            "description": "The ISO 4217 code of the currency."
          },
          "isoNumber": {
            "type": "string",
            "maxLength": 3,
            "description": "The ISO 4217 numeric code of the currency."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the currency resource."
          }
        },
        "required": [
          "self"
        ]
      }
    }
  }
}
