{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - invoices",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/invoices": {
      "get": {
        "operationId": "getInvoices",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices"
        }
      }
    },
    "/invoices/booked": {
      "get": {
        "operationId": "getInvoicesBooked",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookedInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.booked.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-booked"
        }
      },
      "post": {
        "operationId": "postInvoicesBooked",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForBookingAnInvoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.booked.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForBookingAnInvoice"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-invoices-booked"
        }
      }
    },
    "/invoices/booked/{bookWithNumber}": {
      "put": {
        "operationId": "putInvoicesBookedBybookWithNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesForBookingAnInvoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.booked.bookWithNumber.put.schema.json",
        "parameters": [
          {
            "name": "bookWithNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicesForBookingAnInvoice"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-invoices-booked-bookwithnumber"
        }
      }
    },
    "/invoices/booked/{bookedInvoiceNumber}": {
      "get": {
        "operationId": "getInvoicesBookedBybookedInvoiceNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookedInvoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.booked.bookedInvoiceNumber.get.schema.json",
        "parameters": [
          {
            "name": "bookedInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-booked-bookedinvoicenumber"
        }
      }
    },
    "/invoices/drafts": {
      "get": {
        "operationId": "getInvoicesDrafts",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-drafts"
        }
      },
      "post": {
        "operationId": "postInvoicesDrafts",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoicePost"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftInvoicePost"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-invoices-drafts"
        }
      }
    },
    "/invoices/drafts/{draftInvoiceNumber}": {
      "get": {
        "operationId": "getInvoicesDraftsBydraftInvoiceNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.draftInvoiceNumber.get.schema.json",
        "parameters": [
          {
            "name": "draftInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-drafts-draftinvoicenumber"
        }
      },
      "put": {
        "operationId": "putInvoicesDraftsBydraftInvoiceNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceUpdate"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.draftInvoiceNumber.put.schema.json",
        "parameters": [
          {
            "name": "draftInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftInvoiceUpdate"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-invoices-drafts-draftinvoicenumber"
        }
      }
    },
    "/invoices/drafts/{draftInvoiceNumber}/lines": {
      "post": {
        "operationId": "postInvoicesDraftsBydraftInvoiceNumberLines",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceLinesPost"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.draftInvoiceNumber.lines.post.schema.json",
        "parameters": [
          {
            "name": "draftInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftInvoiceLinesPost"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-invoices-draft-lines"
        }
      }
    },
    "/invoices/drafts/{draftInvoiceNumber}/templates": {
      "get": {
        "operationId": "getInvoicesDraftsBydraftInvoiceNumberTemplates",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTemplates"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.draftInvoiceNumber.templates.get.schema.json",
        "parameters": [
          {
            "name": "draftInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-drafts-draftinvoicenumber-templates"
        }
      }
    },
    "/invoices/drafts/{draftInvoiceNumber}/templates/booking-instructions": {
      "get": {
        "operationId": "getInvoicesDraftsBydraftInvoiceNumberTemplatesBookingInstructions",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookRequestTemplate"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.drafts.draftInvoiceNumber.templates.booking-instructions.get.schema.json",
        "parameters": [
          {
            "name": "draftInvoiceNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-drafts-draftinvoicenumber-templates-booking-instructions"
        }
      }
    },
    "/invoices/not-due": {
      "get": {
        "operationId": "getInvoicesNotDue",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesBookedInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.not-due.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-not-due"
        }
      }
    },
    "/invoices/overdue": {
      "get": {
        "operationId": "getInvoicesOverdue",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverdueInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.overdue.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-overdue"
        }
      }
    },
    "/invoices/paid": {
      "get": {
        "operationId": "getInvoicesPaid",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.paid.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-paid"
        }
      }
    },
    "/invoices/sent": {
      "get": {
        "operationId": "getInvoicesSent",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.sent.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-sent"
        }
      }
    },
    "/invoices/sent/{id}": {
      "get": {
        "operationId": "getInvoicesSentByid",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentInvoice"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.sent.id.get.schema.json",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-sent-id"
        }
      }
    },
    "/invoices/totals": {
      "get": {
        "operationId": "getInvoicesTotals",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals"
        }
      }
    },
    "/invoices/totals/booked": {
      "get": {
        "operationId": "getInvoicesTotalsBooked",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookedInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.booked.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-booked"
        }
      }
    },
    "/invoices/totals/booked/paid": {
      "get": {
        "operationId": "getInvoicesTotalsBookedPaid",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidBookedInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.booked.paid.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-booked-paid"
        }
      }
    },
    "/invoices/totals/booked/unpaid": {
      "get": {
        "operationId": "getInvoicesTotalsBookedUnpaid",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesPaidBookedInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.booked.unpaid.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-booked-unpaid"
        }
      }
    },
    "/invoices/totals/booked/unpaid/not-overdue": {
      "get": {
        "operationId": "getInvoicesTotalsBookedUnpaidNotOverdue",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOverdueUnpaidBookedInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.booked.unpaid.not-overdue.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-booked-unpaid-not-overdue"
        }
      }
    },
    "/invoices/totals/booked/unpaid/overdue": {
      "get": {
        "operationId": "getInvoicesTotalsBookedUnpaidOverdue",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverdueUnpaidBookedInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.booked.unpaid.overdue.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-booked-unpaid-overdue"
        }
      }
    },
    "/invoices/totals/drafts": {
      "get": {
        "operationId": "getInvoicesTotalsDrafts",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/customers": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsCustomers",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesDraftInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.customers.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/customers/{customerNumber}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsCustomersBycustomerNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDraftInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.customers.customerNumber.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/customers/{customerNumber}/accounting-years/{accountingYear}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsCustomersBycustomerNumberAccountingYearsByaccountingYear",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTotalsForAccountingYear"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.customers.customerNumber.accounting-years.accountingYear.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/customers/{customerNumber}/periods/{accountingPeriod}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsCustomersBycustomerNumberPeriodsByaccountingPeriod",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTotalsForPeriod"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.customers.customerNumber.periods.accountingPeriod.get.schema.json",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/employees": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsEmployees",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDraftInvoiceTotalsSummary"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.employees.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/employees/{employeeNumber}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsEmployeesByemployeeNumber",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDraftInvoiceTotals"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.employees.employeeNumber.get.schema.json",
        "parameters": [
          {
            "name": "employeeNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/employees/{employeeNumber}/accounting-years/{accountingYear}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsEmployeesByemployeeNumberAccountingYearsByaccountingYear",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTotalsForAccountingYear"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.employees.employeeNumber.accounting-years.accountingYear.get.schema.json",
        "parameters": [
          {
            "name": "employeeNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/totals/drafts/employees/{employeeNumber}/periods/{accountingPeriod}": {
      "get": {
        "operationId": "getInvoicesTotalsDraftsEmployeesByemployeeNumberPeriodsByaccountingPeriod",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftInvoiceTotalsForPeriod"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.totals.drafts.employees.employeeNumber.periods.accountingPeriod.get.schema.json",
        "parameters": [
          {
            "name": "employeeNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-totals-drafts"
        }
      }
    },
    "/invoices/unpaid": {
      "get": {
        "operationId": "getInvoicesUnpaid",
        "tags": [
          "invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpaidInvoiceCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "invoices.unpaid.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-invoices-unpaid"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "AccountingPeriod": {
        "title": "Accounting period",
        "type": "object",
        "description": "A specific period in the accounting year.",
        "properties": {
          "periodNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "A unique identifier of the period."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the accounting year period."
          }
        }
      },
      "AccountingYearReference": {
        "title": "Accounting year",
        "type": "object",
        "description": "A specific accounting year on the agreement.",
        "properties": {
          "year": {
            "type": "string",
            "pattern": "^(19|20)\\d{2}([a-j])?|^(19|20)\\d{2}(/(19|20)\\d{2})?",
            "x-sortable": true,
            "x-filterable": true,
            "description": "The calendar year or years spanned by the accounting year in the format YYYY or YYYY/YYYY."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the accounting year item."
          }
        }
      },
      "BookRequestTemplate": {
        "title": "Book request template Schema",
        "description": "A schema for retrieval of a draft invoice book request.",
        "type": "object",
        "properties": {
          "draftInvoice": {
            "type": "object",
            "description": "The draft invoice which is to be booked.",
            "properties": {
              "draftInvoiceNumber": {
                "type": "integer",
                "minimum": 1,
                "maximum": 999999999,
                "exclusiveMinimum": true,
                "description": "A unique identifier of the draft invoice."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the draft invoice resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the draft invoice book request."
          }
        },
        "required": [
          "self"
        ]
      },
      "BookedInvoice": {
        "title": "Booked invoice schema",
        "description": "A schema for retrieving a booked invoice.",
        "type": "object",
        "properties": {
          "bookedInvoiceNumber": {
            "type": "integer",
            "minimum": 1,
            "x-filterable": true,
            "x-sortable": true,
            "description": "A reference number for the booked invoice document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "Invoice issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the invoice."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the invoice currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the invoice currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the invoice currency before all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the base currency of the agreement before all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the invoice currency after all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the base currency of the agreement after all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the invoice in the invoice currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the invoice in base currency."
          },
          "remainder": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "Remaining amount to be paid."
          },
          "remainderInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "Remaining amount to be paid in base currency."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the invoice is due for payment. Only used if the terms of payment is of type \u0027duedate\u0027, in which case it is mandatory. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the invoice.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the invoice. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being invoiced.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer number is a positive unique numerical identifier with a maximum of 9 digits."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the invoice. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the invoice may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this invoice is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the invoice",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the invoice. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the invoice.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The invoice heading. Usually displayed at the top of the invoice."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the invoice. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the invoice. This is usually displayed as a footer on the invoice."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this invoice.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the invoice.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "description": "Unique identifier of the customer contact."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the invoice. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the invoice."
              }
            }
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this invoice.",
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this booked invoice."
              }
            }
          },
          "layout": {
            "type": "object",
            "description": "Layout to be applied for this invoice.",
            "properties": {
              "layoutNumber": {
                "type": "integer",
                "description": "The unique identifier of the layout."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the layout item."
              }
            },
            "required": [
              "self"
            ]
          },
          "project": {
            "type": "object",
            "description": "A reference to any project this entry might be related to. This requires the projects module to be enabled.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "lines": {
            "title": "Invoice lines",
            "type": "array",
            "description": "An array containing the specific invoice lines.",
            "items": {
              "type": "object",
              "description": "An array of the invoice lines that make up the invoice.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the invoice.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending order within the invoice.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold."
                },
                "deliveryDate": {
                  "type": "string",
                  "format": "date",
                  "pattern": "\\d{4}-\\d{2}-\\d{2}",
                  "x-filterable": true,
                  "x-sortable": true,
                  "description": "Invoice delivery date. The date is formatted according to ISO-8601."
                },
                "quantity": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The number of units of goods on the invoice line."
                },
                "unitNetPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The price of 1 unit of the goods or services on the invoice line in the invoice currency."
                },
                "discountPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "A line discount expressed as a percentage."
                },
                "unitCostPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The cost price of 1 unit of the goods or services in the invoice currency."
                },
                "vatRate": {
                  "type": "number",
                  "x-max-decimals": 6,
                  "description": "The VAT rate in % used to calculate the vat amount on this line."
                },
                "vatAmount": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The total amount of VAT on the invoice line in the invoice currency. This will have the same sign as total net amount"
                },
                "totalNetAmount": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The total invoice line amount in the invoice currency before all taxes and discounts have been applied. For a credit note this amount will be negative."
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the invoice line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "The name of the unit (e.g. \u0027kg\u0027 for weight or \u0027l\u0027 for volume)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the invoice line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the product resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                },
                "departmentalDistribution": {
                  "type": "object",
                  "description": "A departmental distribution defines which departments this invoice line is distributed between. This requires the departments module to be enabled.",
                  "properties": {
                    "departmentalDistributionNumber": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "A unique identifier of the departmental distribution."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the departmental distribution resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          },
          "sent": {
            "type": "string",
            "format": "uri",
            "description": "A convenience link to see if the invoice has been sent or not."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the booked invoice."
          }
        },
        "required": [
          "self"
        ]
      },
      "BookedInvoiceCollection": {
        "title": "Booked invoice collection schema",
        "description": "A schema for retrieving a collection of booked invoices.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of booked invoices.",
            "items": {
              "$ref": "#/components/schemas/InvoicesBookedInvoice"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the booked invoice collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "OverdueInvoiceCollection": {
        "title": "Booked invoice collection schema",
        "description": "A schema for retrieving a collection of overdue invoices.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of overdue invoices.",
            "items": {
              "$ref": "#/components/schemas/OverdueInvoice"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the overdue booked invoice collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "PaidInvoiceCollection": {
        "title": "Booked invoice collection schema",
        "description": "A schema for retrieving a collection of paid invoices.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of booked invoices.",
            "items": {
              "$ref": "#/components/schemas/PaidInvoice"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the paid booked invoice collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "UnpaidInvoiceCollection": {
        "title": "Booked invoice collection schema",
        "description": "A schema for retrieving a collection of unpaid invoices.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of unpaid invoices.",
            "items": {
              "$ref": "#/components/schemas/UnpaidInvoice"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the unpaid booked invoice collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "BookedInvoiceTotals": {
        "title": "Booked invoice totals GET schema",
        "description": "A schema for retrieval of the totals of booked invoices.",
        "type": "object",
        "properties": {
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount for all booked invoices in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "invoiceCount": {
            "type": "integer",
            "description": "The number of booked invoices."
          },
          "maxDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The latest date of any booked invoice."
          },
          "minDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The earliest date of any booked invoice."
          },
          "customers": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked customer resource."
          },
          "accountingYears": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked accounting years resource."
          },
          "periods": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked periods resource."
          },
          "employees": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked employees resource."
          },
          "paid": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked paid resource."
          },
          "unpaid": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked unpaid resource."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A reference to the invoices totals booked resource."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftInvoice": {
        "title": "Draft invoice schema",
        "description": "A schema for retrieving an invoice.",
        "type": "object",
        "properties": {
          "draftInvoiceNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "description": "A reference number for the draft invoice document. This is not the final invoice number. The final invoice number can\u0027t be determined until the invoice is booked."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "Invoice issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the invoice."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the invoice currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the invoice currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the invoice currency before all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the base currency of the agreement before all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the invoice currency after all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total invoice amount in the base currency of the agreement after all taxes and discounts have been applied. For a credit note this amount will be negative."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the invoice and the sales net invoice amount in base currency. For a credit note this amount will be negative."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net invoice amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the invoice in the invoice currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the invoice in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the invoice in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the invoice is due for payment. Only used if the terms of payment is of type \u0027duedate\u0027, in which case it is mandatory. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "attachment": {
            "type": "string",
            "format": "uri",
            "description": "A unique reference to the attachment file on the given draft invoice."
          },
          "layout": {
            "type": "object",
            "description": "Layout to be applied for draft invoices and other documents for this customer.",
            "properties": {
              "layoutNumber": {
                "type": "integer",
                "description": "The unique identifier of the layout."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the layout item."
              }
            },
            "required": [
              "self"
            ]
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the invoice.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the invoice. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being invoiced.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the invoice. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the invoice may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this invoice is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              },
              "nemHandelType": {
                "enum": [
                  "ean",
                  "corporateIdentificationNumber",
                  "pNumber",
                  "peppol",
                  null
                ],
                "description": "Chosen NemHandel type used for e-invoicing."
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the invoice",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the invoice. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the invoice.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The invoice heading. Usually displayed at the top of the invoice."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the invoice. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the invoice. This is usually displayed as a footer on the invoice."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this invoice.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the invoice.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "customerContactNumber",
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the invoice. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the invoice."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the invoice is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "pattern": "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z",
            "x-filterable": true,
            "readOnly": true,
            "description": "The last time the invoice was updated. The date is formatted according to ISO-8601."
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this invoice.",
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this draft invoice."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP invoice handle.",
            "properties": {
              "currentInvoiceHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP invoice handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP invoice handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "templates": {
            "type": "object",
            "description": "References to all templates on this draft invoice.",
            "readOnly": true,
            "properties": {
              "bookingInstructions": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the document to POST to /invoices/booked to book the invoice draft."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the draft invoice templates resource."
              }
            },
            "required": [
              "bookingInstructions",
              "self"
            ]
          },
          "lines": {
            "title": "Invoice lines",
            "type": "array",
            "description": "An array containing the specific invoice lines.",
            "items": {
              "type": "object",
              "description": "An array of the invoice lines that make up the invoice.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the invoice.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending order within the invoice.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold."
                },
                "accrual": {
                  "type": "object",
                  "description": "Accrual is used to allocate costs and/or revenues over several periods.",
                  "properties": {
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The start date for the accrual. Format: YYYY-MM-DD."
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The end date for the accrual. Format: YYYY-MM-DD."
                    }
                  }
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the invoice line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "The name of the unit (e.g. \u0027kg\u0027 for weight or \u0027l\u0027 for volume)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the invoice line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the product resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                },
                "quantity": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The number of units of goods on the invoice line."
                },
                "unitNetPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The price of 1 unit of the goods or services on the invoice line in the invoice currency."
                },
                "discountPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "A line discount expressed as a percentage."
                },
                "unitCostPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The cost price of 1 unit of the goods or services in the invoice currency."
                },
                "totalNetAmount": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The total net amount on the draft invoice line in the draft invoice currency."
                },
                "marginInBaseCurrency": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The difference between the net price and the cost price on the invoice line in base currency."
                },
                "marginPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The margin on the invoice line expressed as a percentage."
                },
                "departmentalDistribution": {
                  "type": "object",
                  "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                  "properties": {
                    "departmentalDistributionNumber": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "A unique identifier of the departmental distribution."
                    },
                    "distributionType": {
                      "type": "string",
                      "description": "Type of the distribution"
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the departmental distribution resource."
                    }
                  },
[...]
