{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - journals",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/journals": {
      "get": {
        "operationId": "getJournals",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals"
        }
      }
    },
    "/journals/{journalNumber}": {
      "get": {
        "operationId": "getJournalsByjournalNumber",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalDetails"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber"
        }
      }
    },
    "/journals/{journalNumber}/entries": {
      "get": {
        "operationId": "getJournalsByjournalNumberEntries",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsForGETingEntries"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.entries.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-entries"
        }
      }
    },
    "/journals/{journalNumber}/entries/{entryNumber}": {
      "get": {
        "operationId": "getJournalsByjournalNumberEntriesByentryNumber",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsForGETingAJournalEntry"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.entries.entryNumber.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "entryNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-entries"
        }
      }
    },
    "/journals/{journalNumber}/templates": {
      "get": {
        "operationId": "getJournalsByjournalNumberTemplates",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsForGETingTemplates"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.templates.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-templates"
        }
      }
    },
    "/journals/{journalNumber}/templates/financeVoucher": {
      "get": {
        "operationId": "getJournalsByjournalNumberTemplatesFinanceVoucher",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsForTheFinanceVoucherTemplate"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.templates.financeVoucher.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-templates-financevoucher"
        }
      }
    },
    "/journals/{journalNumber}/templates/manualCustomerInvoice": {
      "get": {
        "operationId": "getJournalsByjournalNumberTemplatesManualCustomerInvoice",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsForTheManualCustomerInvoiceTemplate"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.templates.manualCustomerInvoice.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-templates-manualcustomerinvoice"
        }
      }
    },
    "/journals/{journalNumber}/vouchers": {
      "get": {
        "operationId": "getJournalsByjournalNumberVouchers",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalVoucher"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.vouchers.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-vouchers"
        }
      },
      "post": {
        "operationId": "postJournalsByjournalNumberVouchers",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalVoucherPost"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.vouchers.post.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalVoucherPost"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-journal-voucher"
        }
      }
    },
    "/journals/{journalNumber}/vouchers/{accountingYear}-{voucherNumber}": {
      "get": {
        "operationId": "getJournalsByjournalNumberVouchersByaccountingYearByvoucherNumber",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryOnAVoucher"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.vouchers.accountingYear-voucherNumber.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voucherNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-vouchers-accountingyear-vouchernumber"
        }
      }
    },
    "/journals/{journalNumber}/vouchers/{accountingYear}-{voucherNumber}/attachment": {
      "get": {
        "operationId": "getJournalsByjournalNumberVouchersByaccountingYearByvoucherNumberAttachment",
        "tags": [
          "journals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalsFileMetaData"
                }
              }
            }
          }
        },
        "x-economic-source": "journals.journalNumber.vouchers.accountingYear-voucherNumber.attachment.get.schema.json",
        "parameters": [
          {
            "name": "journalNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voucherNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-journals-journalnumber-vouchers-accountingyear-vouchernumber-attachment"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "Journal": {
        "title": "Journal",
        "type": "object",
        "description": "A specific journal.",
        "properties": {
          "name": {
            "title": "Journal",
            "type": "string",
            "x-sortable": true,
            "x-filterable": true,
            "description": "The name of the journal"
          },
          "settings": {
            "type": "object",
            "description": "Settings of the journal.",
            "properties": {
              "voucherNumbers": {
                "type": "object",
                "description": "Settings connected with voucher numbering.",
                "properties": {
                  "minimumVoucherNumber": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum voucher number defined in settings."
                  },
                  "maximumVoucherNumber": {
                    "type": "integer",
                    "maximum": 999999999,
                    "description": "Maximum voucher number defined in settings."
                  }
                }
              },
              "entryTypeRestrictedTo": {
                "enum": [
                  "financeVoucher",
                  "supplierInvoice",
                  "supplierPayment",
                  "customerPayment",
                  "manualCustomerInvoice"
                ],
                "description": "Allowed entry type on given journal."
              },
              "contraAccounts": {
                "type": "object",
                "description": "Default contra account for given entry type",
                "properties": {
                  "customerPayments": {
                    "type": "object",
                    "description": "Default contra account for the customer payment",
                    "properties": {
                      "accountNumber": {
                        "type": "integer",
                        "description": "Account number used for registering customer payment entry type"
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "The unique self reference of the account resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "supplierPayments": {
                    "type": "object",
                    "description": "Default contra account for the supplier payment",
                    "properties": {
                      "accountNumber": {
                        "type": "integer",
                        "description": "Account number used for registering supplier payment entry type"
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "The unique self reference of the account resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "financeVouchers": {
                    "type": "object",
                    "description": "Default contra account for the finance voucher",
                    "properties": {
                      "accountNumber": {
                        "type": "integer",
                        "description": "Account number used for registering finance voucher entry type"
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "The unique self reference of the account resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  }
                }
              }
            }
          },
          "vouchers": {
            "type": "string",
            "format": "uri",
            "description": "A link to the collection of vouchers on the given journal, categorized according to the type."
          },
          "entries": {
            "type": "string",
            "format": "uri",
            "description": "A link to the collection of entries in the given journal, regardless of their type."
          },
          "templates": {
            "type": "object",
            "description": "Templates allowing easy entry creation.",
            "properties": {
              "financeVoucher": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the finance voucher template"
              },
              "manualCustomerInvoice": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the manual customer invoice template"
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the templates resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "journalNumber": {
            "type": "integer",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Unique journal number"
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the jounrnals collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "JournalEntry": {
        "title": "Journal entry",
        "type": "object",
        "description": "A specific journal entry.",
        "properties": {
          "account": {
            "type": "object",
            "description": "The account used by the entry.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "The account number.",
                "x-sortable": true,
                "x-filterable": true
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the account resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "templates": {
            "type": "object",
            "description": "Templates allowing easy entry creation, its existance depends on the type of the entry.",
            "properties": {
              "customerPayment": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the finance voucher template"
              },
              "account": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the finance voucher template using account"
              },
              "contraAccount": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the finance voucher template using contra account"
              },
              "accountAndContraAccount": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference to the finance voucher template using account and contra account"
              }
            }
          },
          "journal": {
            "type": "object",
            "description": "The journal the entry belongs to.",
            "properties": {
              "journalNumber": {
                "type": "number",
                "description": "Journal number that must be at least 1.",
                "minimum": 1
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the journal resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer this entry is based on. Either \u0027customer\u0027 or \u0027contraAccount\u0027 is required.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "description": "The customer number is a positive unique numerical identifier with a maximum of 9 digits.",
                "x-sortable": true,
                "x-filterable": true
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customerInvoice": {
            "type": "integer",
            "minimum": 1,
            "description": "Customer invoice number."
          },
          "supplier": {
            "type": "object",
            "description": "The supplier this entry is based on.",
            "properties": {
              "supplierNumber": {
                "type": "integer",
                "description": "The supplier number is a positive unique numerical identifier with a maximum of 9 digits.",
                "maximum": 999999999,
                "minimum": 1,
                "x-sortable": true,
                "x-filterable": true
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the supplier resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "supplierInvoiceNumber": {
            "type": "string",
            "maxLength": 30,
            "description": "The unique identifier of the supplier invoice gotten from the supplier."
          },
          "paymentDetails": {
            "type": "object",
            "description": "Payment details associated with the supplier invoice. Each payment detail contains two keys that are required. For the \u002B71 type, fiSupplierNo and ocrLine is expected. For the \u002B73 type, fiSupplierNo and message is expected. For the \u002B04 type, giroAccount and ocrLine is expected. For the bank transfer type, accountNo and message is expected. For the IBAN type, ibanSwift and message is expected. For the \u002B75 type, fiSupplierNo and ocrLineMessage is expected. Please refer to the schema for validation rules details.",
            "properties": {
              "paymentType": {
                "type": "object",
                "description": "A specific payment type on the entry.",
                "oneOf": [
                  {
                    "properties": {
                      "fiSupplierNo": {
                        "type": "string"
                      },
                      "ocrLine": {
                        "type": "string",
                        "minLength": 15,
                        "maxLength": 15
                      }
                    },
                    "required": [
                      "fiSupplierNo",
                      "ocrLine"
                    ]
                  },
                  {
                    "properties": {
                      "fiSupplierNo": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 100
                      }
                    },
                    "required": [
                      "fiSupplierNo",
                      "message"
                    ]
                  },
                  {
                    "properties": {
                      "giroAccount": {
                        "type": "string"
                      },
                      "ocrLine": {
                        "type": "string",
                        "minLength": 16,
                        "maxLength": 16
                      }
                    },
                    "required": [
                      "giroAccount",
                      "ocrLine"
                    ]
                  },
                  {
                    "properties": {
                      "accountNo": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 100
                      }
                    },
                    "required": [
                      "accountNo",
                      "message"
                    ]
                  },
                  {
                    "properties": {
                      "ibanSwift": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 100
                      }
                    },
                    "required": [
                      "ibanSwift",
                      "message"
                    ]
                  },
                  {
                    "properties": {
                      "fiSupplierNo": {
                        "type": "string"
                      },
                      "ocrLineMessage": {
                        "type": "string",
                        "minLength": 16,
                        "maxLength": 157
                      }
                    },
                    "required": [
                      "fiSupplierNo",
                      "ocrLineMessage"
                    ]
                  }
                ],
                "properties": {
                  "paymentTypeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "The payment type number is a positive unique numerical identifier."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique link reference to the payment type item."
                  }
                },
                "required": [
                  "self"
                ]
              }
            }
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the entry is due for payment. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "text": {
            "type": "string",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Text on the entry"
          },
          "amount": {
            "type": "number",
            "x-max-decimals": 2,
            "x-sortable": true,
            "x-filterable": true
          },
          "contraAccount": {
            "type": "object",
            "description": "The account used for the funds. Either \u0027customer\u0027 or \u0027contraAccount\u0027 is required.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "x-sortable": true,
                "x-filterable": true,
                "minimum": 1,
                "description": "The account number."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the account resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "contraVatAccount": {
            "type": "object",
            "description": "The account for VAT.",
            "properties": {
              "vatCode": {
                "type": "string",
                "maxLength": 5,
                "x-sortable": true,
                "x-filterable": true,
                "description": "The unique identifier of the contra vat account."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the contraVatAccount item."
              }
            },
            "required": [
              "self"
            ]
          },
          "contraVatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "x-sortable": true,
            "x-filterable": true,
            "description": "The amount of VAT on the entry on the contra account."
          },
          "contraVatAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The amount of VAT on the entry on the contra account in base currency."
          },
          "costType": {
            "type": "object",
            "description": "The cost type for this entity.",
            "properties": {
              "costTypeNumber": {
                "type": "integer",
                "description": "The unique identifier of the cost type."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the cost type."
              }
            }
          },
          "currency": {
            "type": "object",
            "description": "The currency for the entry.",
            "properties": {
              "code": {
                "type": "string",
                "pattern": "[a-zA-Z]{3}",
                "x-sortable": true,
                "x-filterable": true,
                "description": "The ISO 4217 3-letter currency code of the entry."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the currency item."
              }
            },
            "required": [
              "self"
            ]
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Entry date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "departmentalDistribution": {
            "type": "object",
            "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
            "properties": {
              "departmentalDistributionNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the departmental distribution."
              },
              "distributionType": {
                "type": "string",
                "description": "Type of the distribution"
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the departmental distribution resource."
              }
            }
          },
          "employee": {
            "type": "object",
            "description": "Employee that this entry is related to. Requires Project module",
            "properties": {
              "employeeNumber": {
                "type": "integer",
                "minimum": 1,
                "x-sortable": true,
                "x-filterable": true,
                "description": "A unique numerical identifier with a maximum of 9 digits."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the employee item."
              }
            },
            "required": [
              "self"
            ]
          },
          "exchangeRate": {
            "type": "number",
            "x-max-decimals": 6,
            "x-sortable": true,
            "x-filterable": true,
            "description": "The exchange rate between the base currency and the invoice currency."
          },
          "entryType": {
            "enum": [
              "financeVoucher",
              "supplierInvoice",
              "supplierPayment",
              "customerPayment",
              "manualCustomerInvoice"
            ],
            "x-sortable": true,
            "x-filterable": true,
            "description": "Entry type of the entry."
          },
          "voucher": {
            "type": "object",
            "description": "Voucher that the entry belongs to.",
            "properties": {
              "accountingYear": {
                "type": "object",
                "description": "The accounting year the voucher belongs to. Together with the voucherNumber it is a unique identifier for the voucher.",
                "properties": {
                  "year": {
                    "type": "string",
                    "description": "A unique identifier of the accounting year."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the accounting year resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "voucherNumber": {
                "type": "number",
                "minimum": 1,
                "maximum": 999999999,
                "x-sortable": true,
                "x-filterable": true,
                "description": "Journal voucher number that must be at least 1."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique link reference to the voucher item."
              }
            },
            "required": [
              "self"
            ]
          },
          "project": {
            "type": "object",
            "description": "The project the entry is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            }
          },
          "amountDefaultCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "x-sortable": true,
            "x-filterable": true,
            "description": "The amount of VAT on the entry on the contra account in base currency."
          },
          "remainder": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "Remaining amount to be paid."
          },
          "remainderInDefaultCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "Remaining amount to be paid in default currency."
          },
          "journalEntryNumber": {
            "type": "integer",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Unique journal number"
          },
          "quantity1": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "Requires dimension module."
          },
          "quantity2": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "Requires dimension module."
          },
          "unit1": {
            "type": "object",
            "description": "The first unit of measure applied to the entry. Requires dimension module.",
            "properties": {
              "unitNumber": {
                "type": "integer",
                "description": "The unique identifier of the unit.",
                "minimum": 0
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the unit resource."
              }
            }
          },
          "unit2": {
            "type": "object",
            "description": "The second unit of measure applied to the entry. Requires dimension module.",
            "properties": {
              "unitNumber": {
                "type": "integer",
                "description": "The unique identifier of the unit.",
                "minimum": 0
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the unit resource."
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the entry."
          }
        },
        "required": [
          "self"
        ]
      },
      "JournalEntryOnAVoucher": {
        "title": "Journal entry on a voucher GET schema",
        "description": "A schema for getting a specific entry belonging to a voucher.",
        "type": "object",
        "properties": {
          "accountingYear": {
            "type": "object",
            "description": "The accounting year the voucher belongs to. Together with the voucherNumber it is a unique identifier for the voucher.",
            "properties": {
              "year": {
                "type": "string",
                "description": "A unique identifier of the accounting year."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the accounting year resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "journal": {
            "type": "object",
            "description": "The journal the voucher belongs to.",
            "properties": {
              "journalNumber": {
                "type": "number",
                "description": "Journal number that must be at least 1.",
                "minimum": 1
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the journal resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "entries": {
            "type": "object",
            "description": "Entries, separated by type, for the journal.",
            "properties": {
              "financeVouchers": {
                "type": "array",
                "description": "An array containing finance vouchers.",
                "items": {
                  "type": "object",
                  "description": "Finance Voucher entry.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "maxLength": 250,
                      "description": "Entry description."
                    },
                    "journal": {
                      "type": "object",
                      "description": "The journal the voucher belongs to.",
                      "properties": {
                        "journalNumber": {
                          "type": "number",
                          "description": "Journal number that must be at least 1.",
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the journal resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "x-max-decimals": 2
                    },
                    "contraAccount": {
                      "type": "object",
                      "description": "The account used for the funds.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "The account number."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the account resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAccount": {
                      "type": "object",
                      "description": "The account for VAT.",
                      "properties": {
                        "vatCode": {
                          "type": "string",
                          "maxLength": 5,
                          "description": "The unique identifier of the contra vat account."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the contraVatAccount item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "costType": {
                      "type": "object",
                      "description": "The cost type for this entity.",
                      "properties": {
                        "costTypeNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the cost type."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the cost type."
                        }
                      }
                    },
                    "currency": {
                      "type": "object",
                      "description": "The currency for the entry.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "pattern": "[a-zA-Z]{3}",
                          "description": "The ISO 4217 3-letter currency code of the entry."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the currency item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "Entry date. Format according to ISO-8601 (YYYY-MM-DD)."
                    },
                    "departmentalDistribution": {
                      "type": "object",
                      "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                      "properties": {
                        "departmentalDistributionNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the departmental distribution."
                        },
                        "distributionType": {
                          "type": "string",
                          "description": "Type of the distribution"
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the departmental distribution resource."
                        }
                      }
                    },
                    "employee": {
                      "type": "object",
                      "description": "Employee that this entry is related to. Requires Project module",
                      "properties": {
                        "employeeNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique numerical identifier with a maximum of 9 digits."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the employee item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "exchangeRate": {
                      "type": "number",
                      "x-max-decimals": 6,
                      "description": "The exchange rate between the base currency and the invoice currency."
                    },
                    "entryType": {
                      "enum": [
                        "financeVoucher"
                      ],
                      "description": "Type of the journal entry. This is automatically set to financeVoucher."
                    },
                    "voucher": {
                      "type": "object",
                      "description": "Voucher that the entry belongs to.",
                      "properties": {
                        "voucherNumber": {
                          "type": "number",
                          "minimum": 1,
                          "description": "Journal voucher number that must be at least 1."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the voucher item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAmount": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account."
                    },
                    "contraVatAmountInBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account in base currency."
                    },
                    "amountBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount in base currency."
                    },
                    "remainder": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid."
                    },
                    "remainderInDefaultCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid in default currency."
                    },
                    "account": {
                      "type": "object",
                      "description": "The account used by the entry.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "The account number."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the account resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "project": {
                      "type": "object",
                      "description": "The project the entry is connected to.",
                      "properties": {
                        "projectNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the project."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the project resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "vatAccount": {
                      "type": "object",
                      "description": "The account for VAT.",
                      "properties": {
                        "vatCode": {
                          "type": "string",
                          "maxLength": 5,
                          "description": "The unique identifier of the vat account."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the vatAccount item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "vatAmount": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry. Used if the entry has a VAT account."
                    },
                    "vatAmountBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the voucher in base currency."
                    },
                    "quantity1": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "Requires dimension module."
                    },
                    "quantity2": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "Requires dimension module."
                    },
                    "unit1": {
                      "type": "object",
                      "description": "The first unit of measure applied to the entry. Requires dimension module.",
                      "properties": {
                        "unitNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the unit.",
                          "minimum": 0
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the unit resource."
                        }
                      }
                    },
                    "unit2": {
                      "type": "object",
                      "description": "The second unit of measure applied to the entry. Requires dimension module.",
                      "properties": {
                        "unitNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the unit.",
                          "minimum": 0
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the unit resource."
                        }
                      }
                    }
                  }
                }
              },
              "customerPayments": {
                "type": "array",
                "description": "An array containing customer payments.",
                "items": {
                  "type": "object",
                  "description": "Customer Payment entry.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "maxLength": 250,
                      "description": "Entry description."
                    },
                    "journal": {
                      "type": "object",
                      "description": "The journal the voucher belongs to.",
                      "properties": {
                        "journalNumber": {
                          "type": "number",
                          "description": "Journal number that must be at least 1.",
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the journal resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "x-max-decimals": 2
                    },
                    "contraAccount": {
                      "type": "object",
                      "description": "The account used for the funds. Either \u0027customer\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "The account number."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the account resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAccount": {
                      "type": "object",
                      "description": "The account for VAT.",
                      "properties": {
                        "vatCode": {
                          "type": "string",
                          "maxLength": 5,
                          "description": "The unique identifier of the contra vat account."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the contraVatAccount item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "currency": {
                      "type": "object",
                      "description": "The currency for the entry.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "pattern": "[a-zA-Z]{3}",
                          "description": "The ISO 4217 3-letter currency code of the entry."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the currency item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "Entry date. Format according to ISO-8601 (YYYY-MM-DD)."
                    },
                    "departmentalDistribution": {
                      "type": "object",
                      "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                      "properties": {
                        "departmentalDistributionNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the departmental distribution."
                        },
                        "distributionType": {
                          "type": "string",
                          "description": "Type of the distribution"
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the departmental distribution resource."
                        }
                      }
                    },
                    "employee": {
                      "type": "object",
                      "description": "Employee that this entry is related to. Requires Project module",
                      "properties": {
                        "employeeNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique numerical identifier with a maximum of 9 digits."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the employee item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "exchangeRate": {
                      "type": "number",
                      "x-max-decimals": 6,
                      "description": "The exchange rate between the base currency and the invoice currency."
                    },
                    "entryType": {
                      "enum": [
                        "customerPayment"
                      ],
                      "description": "Type of the journal entry. This is automatically set to customerPayment."
                    },
                    "voucher": {
                      "type": "object",
                      "description": "Voucher that the entry belongs to.",
                      "properties": {
                        "voucherNumber": {
                          "type": "number",
                          "minimum": 1,
                          "description": "Journal voucher number that must be at least 1."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the voucher item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAmount": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account."
                    },
                    "contraVatAmountInBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account in base currency."
                    },
                    "amountBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount in base currency."
                    },
                    "remainder": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid."
                    },
                    "remainderInDefaultCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid in default currency."
                    },
                    "customer": {
                      "type": "object",
                      "description": "The customer this entry is based on. Either \u0027customer\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "customerNumber": {
                          "type": "integer",
                          "maximum": 999999999,
                          "minimum": 1,
                          "description": "The customer number is a positive unique numerical identifier with a maximum of 9 digits."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the customer resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "customerInvoice": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Customer invoice number."
                    }
                  }
                }
              },
              "supplierInvoices": {
                "type": "array",
                "description": "An array containing finance vouchers.",
                "items": {
                  "type": "object",
                  "description": "Supplier Invoice entry.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "maxLength": 250,
                      "description": "Entry description."
                    },
                    "journal": {
                      "type": "object",
                      "description": "The journal the voucher belongs to.",
                      "properties": {
                        "journalNumber": {
                          "type": "number",
                          "description": "Journal number that must be at least 1.",
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the journal resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "x-max-decimals": 2
                    },
                    "contraAccount": {
                      "type": "object",
                      "description": "The account used for the funds. Either \u0027supplier\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "The account number."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the account resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAccount": {
                      "type": "object",
                      "description": "The account for VAT.",
                      "properties": {
                        "vatCode": {
                          "type": "string",
                          "maxLength": 5,
                          "description": "The unique identifier of the contra vat account."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the contraVatAccount item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "costType": {
                      "type": "object",
                      "description": "The cost type for this entity.",
                      "properties": {
                        "costTypeNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the cost type."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the cost type."
                        }
                      }
                    },
                    "currency": {
                      "type": "object",
                      "description": "The currency for the entry.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "pattern": "[a-zA-Z]{3}",
                          "description": "The ISO 4217 3-letter currency code of the entry."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the currency item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "Entry date. Format according to ISO-8601 (YYYY-MM-DD)."
                    },
                    "departmentalDistribution": {
                      "type": "object",
                      "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                      "properties": {
                        "departmentalDistributionNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the departmental distribution."
                        },
                        "distributionType": {
                          "type": "string",
                          "description": "Type of the distribution"
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the departmental distribution resource."
                        }
                      }
                    },
                    "employee": {
                      "type": "object",
                      "description": "Employee that this entry is related to. Requires Project module",
                      "properties": {
                        "employeeNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique numerical identifier with a maximum of 9 digits."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the employee item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "exchangeRate": {
                      "type": "number",
                      "x-max-decimals": 6,
                      "description": "The exchange rate between the base currency and the invoice currency."
                    },
                    "entryType": {
                      "enum": [
                        "supplierInvoice"
                      ],
                      "description": "Type of the journal entry. This is automatically set to supplierInvoice."
                    },
                    "voucher": {
                      "type": "object",
                      "description": "Voucher that the entry belongs to.",
                      "properties": {
                        "voucherNumber": {
                          "type": "number",
                          "minimum": 1,
                          "description": "Journal voucher number that must be at least 1."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the voucher item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAmount": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account."
                    },
                    "contraVatAmountInBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account in base currency."
                    },
                    "amountBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount in base currency."
                    },
                    "remainder": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid."
                    },
                    "remainderInDefaultCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid in default currency."
                    },
                    "supplier": {
                      "type": "object",
                      "description": "The supplier is the vendor from whom you buy your goods. Either \u0027supplier\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "supplierNumber": {
                          "type": "integer",
                          "description": "The supplier number is a positive unique numerical identifier with a maximum of 9 digits.",
                          "maximum": 999999999,
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique self reference of the supplier."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "supplierInvoiceNumber": {
                      "type": "string",
                      "maxLength": 30,
                      "description": "The unique identifier of the supplier invoice gotten from the supplier."
                    },
                    "paymentDetails": {
                      "type": "object",
                      "description": "Payment details associated with the supplier invoice. Each payment detail contains two keys that are required. For the \u002B71 type, fiSupplierNo and ocrLine is expected. For the \u002B73 type, fiSupplierNo and message is expected. For the \u002B04 type, giroAccount and ocrLine is expected. For the bank transfer type, accountNo and message is expected. For the IBAN type, ibanSwift and message is expected. For the \u002B75 type, fiSupplierNo and ocrLineMessage is expected. Please refer to the schema for validation rules details.",
                      "properties": {
                        "paymentType": {
                          "type": "object",
                          "description": "A specific payment type on the entry.",
                          "oneOf": [
                            {
                              "properties": {
                                "fiSupplierNo": {
                                  "type": "string"
                                },
                                "ocrLine": {
                                  "type": "string",
                                  "minLength": 15,
                                  "maxLength": 15
                                }
                              },
                              "required": [
                                "fiSupplierNo",
                                "ocrLine"
                              ]
                            },
                            {
                              "properties": {
                                "fiSupplierNo": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string",
                                  "minLength": 5,
                                  "maxLength": 100
                                }
                              },
                              "required": [
                                "fiSupplierNo",
                                "message"
                              ]
                            },
                            {
                              "properties": {
                                "giroAccount": {
                                  "type": "string"
                                },
                                "ocrLine": {
                                  "type": "string",
                                  "minLength": 16,
                                  "maxLength": 16
                                }
                              },
                              "required": [
                                "giroAccount",
                                "ocrLine"
                              ]
                            },
                            {
                              "properties": {
                                "accountNo": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string",
                                  "minLength": 5,
                                  "maxLength": 100
                                }
                              },
                              "required": [
                                "accountNo",
                                "message"
                              ]
                            },
                            {
                              "properties": {
                                "ibanSwift": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string",
                                  "minLength": 5,
                                  "maxLength": 100
                                }
                              },
                              "required": [
                                "ibanSwift",
                                "message"
                              ]
                            },
                            {
                              "properties": {
                                "fiSupplierNo": {
                                  "type": "string"
                                },
                                "ocrLineMessage": {
                                  "type": "string",
                                  "minLength": 16,
                                  "maxLength": 157
                                }
                              },
                              "required": [
                                "fiSupplierNo",
                                "ocrLineMessage"
                              ]
                            }
                          ],
                          "properties": {
                            "paymentTypeNumber": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "The payment type number is a positive unique numerical identifier."
                            },
                            "self": {
                              "type": "string",
                              "format": "uri",
                              "description": "A unique link reference to the payment type item."
                            }
                          },
                          "required": [
                            "self"
                          ]
                        }
                      }
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The date the entry is due for payment. Format according to ISO-8601 (YYYY-MM-DD)."
                    },
                    "project": {
                      "type": "object",
                      "description": "The project the entry is connected to.",
                      "properties": {
                        "projectNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the project."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the project resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "quantity1": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "Requires dimension module."
                    },
                    "quantity2": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "Requires dimension module."
                    },
                    "unit1": {
                      "type": "object",
                      "description": "The first unit of measure applied to the entry. Requires dimension module.",
                      "properties": {
                        "unitNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the unit.",
                          "minimum": 0
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the unit resource."
                        }
                      }
                    },
                    "unit2": {
                      "type": "object",
                      "description": "The second unit of measure applied to the entry. Requires dimension module.",
                      "properties": {
                        "unitNumber": {
                          "type": "integer",
                          "description": "The unique identifier of the unit.",
                          "minimum": 0
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the unit resource."
                        }
                      }
                    }
                  }
                }
              },
              "supplierPayments": {
                "type": "array",
                "description": "An array containing finance vouchers.",
                "items": {
                  "type": "object",
                  "description": "Supplier Payment entry.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "maxLength": 250,
                      "description": "Entry description."
                    },
                    "journal": {
                      "type": "object",
                      "description": "The journal the voucher belongs to.",
                      "properties": {
                        "journalNumber": {
                          "type": "number",
                          "description": "Journal number that must be at least 1.",
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the journal resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "x-max-decimals": 2
                    },
                    "contraAccount": {
                      "type": "object",
                      "description": "The account used for the funds. Either \u0027supplier\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "The account number."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the account resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAccount": {
                      "type": "object",
                      "description": "The account for VAT.",
                      "properties": {
                        "vatCode": {
                          "type": "string",
                          "maxLength": 5,
                          "description": "The unique identifier of the contra vat account."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the contraVatAccount item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "currency": {
                      "type": "object",
                      "description": "The currency for the entry.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "pattern": "[a-zA-Z]{3}",
                          "description": "The ISO 4217 3-letter currency code of the entry."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the currency item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "Entry date. Format according to ISO-8601 (YYYY-MM-DD)."
                    },
                    "departmentalDistribution": {
                      "type": "object",
                      "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                      "properties": {
                        "departmentalDistributionNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique identifier of the departmental distribution."
                        },
                        "distributionType": {
                          "type": "string",
                          "description": "Type of the distribution"
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the departmental distribution resource."
                        }
                      }
                    },
                    "employee": {
                      "type": "object",
                      "description": "Employee that this entry is related to. Requires Project module",
                      "properties": {
                        "employeeNumber": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "A unique numerical identifier with a maximum of 9 digits."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the employee item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "exchangeRate": {
                      "type": "number",
                      "x-max-decimals": 6,
                      "description": "The exchange rate between the base currency and the invoice currency."
                    },
                    "entryType": {
                      "enum": [
                        "supplierPayment"
                      ],
                      "description": "Type of the journal entry. This is automatically set to supplierPayment."
                    },
                    "voucher": {
                      "type": "object",
                      "description": "Voucher that the entry belongs to.",
                      "properties": {
                        "voucherNumber": {
                          "type": "number",
                          "minimum": 1,
                          "description": "Journal voucher number that must be at least 1."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique link reference to the voucher item."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "contraVatAmount": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account."
                    },
                    "contraVatAmountInBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount of VAT on the entry on the contra account in base currency."
                    },
                    "amountBaseCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "description": "The amount in base currency."
                    },
                    "remainder": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid."
                    },
                    "remainderInDefaultCurrency": {
                      "type": "number",
                      "x-max-decimals": 2,
                      "readOnly": true,
                      "description": "Remaining amount to be paid in default currency."
                    },
                    "supplier": {
                      "type": "object",
                      "description": "The supplier is the vendor from whom you buy your goods. Either \u0027supplier\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "supplierNumber": {
                          "type": "integer",
                          "description": "The supplier number is a positive unique numerical identifier with a maximum of 9 digits.",
                          "maximum": 999999999,
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique self reference of the supplier."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "supplierInvoiceNumber": {
                      "type": "string",
                      "maxLength": 30,
                      "description": "The unique identifier of the supplier invoice gotten from the supplier."
                    }
                  }
                }
              },
              "manualCustomerInvoices": {
                "type": "array",
                "description": "An array containing finance vouchers.",
                "items": {
                  "type": "object",
                  "description": "Manual Customer Invoice entry.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "maxLength": 250,
                      "description": "Entry description."
                    },
                    "journal": {
                      "type": "object",
                      "description": "The journal the voucher belongs to.",
                      "properties": {
                        "journalNumber": {
                          "type": "number",
                          "description": "Journal number that must be at least 1.",
                          "minimum": 1
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the journal resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "x-max-decimals": 2
                    },
                    "contraAccount": {
                      "type": "object",
                      "description": "The account used for the funds. Either \u0027customer\u0027 or \u0027contraAccount\u0027 is required.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
[...]
