{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - layouts",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/layouts": {
      "get": {
        "operationId": "getLayouts",
        "tags": [
          "layouts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayoutsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "layouts.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-filterable-fields": [],
        "x-sortable-fields": [],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-layouts"
        }
      }
    },
    "/layouts/{layoutNumber}": {
      "get": {
        "operationId": "getLayoutsBylayoutNumber",
        "tags": [
          "layouts"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layout"
                }
              }
            }
          }
        },
        "x-economic-source": "layouts.layoutNumber.get.schema.json",
        "parameters": [
          {
            "name": "layoutNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-layouts-layoutnumber"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "Layout": {
        "title": "Layout",
        "type": "object",
        "description": "A specific layout.",
        "properties": {
          "layoutNumber": {
            "type": "integer",
            "description": "A unique identifier of the layout."
          },
          "name": {
            "type": "string",
            "maxLength": 250,
            "description": "The name of the layout."
          },
          "deleted": {
            "type": "boolean",
            "description": "A flag indicating that the layout is deleted. Layouts with this flag set will not appear in the collection of layouts, but resources such as booked invoices might still reference this layout."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the layout item."
          }
        },
        "required": [
          "self"
        ]
      },
      "LayoutsCollection": {
        "title": "Layouts collection GET schema",
        "description": "A schema for retrieval of a collection of layouts.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "The array containing all the layouts.",
            "items": {
              "$ref": "#/components/schemas/Layout"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the layouts collection."
          }
        },
        "required": [
          "self"
        ]
      }
    }
  }
}
