{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - orders",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders"
        }
      }
    },
    "/orders/archived": {
      "get": {
        "operationId": "getOrdersArchived",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedOrderCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.archived.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-archived"
        }
      }
    },
    "/orders/archived/{orderNumber}": {
      "get": {
        "operationId": "getOrdersArchivedByorderNumber",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersArchivedOrder"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.archived.orderNumber.get.schema.json",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-archived-ordernumber"
        }
      }
    },
    "/orders/drafts": {
      "get": {
        "operationId": "getOrdersDrafts",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftOrderCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.drafts.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-drafts"
        }
      },
      "post": {
        "operationId": "postOrdersDrafts",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftOrder"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftOrder"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.drafts.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftOrderPost"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-orders-drafts"
        }
      }
    },
    "/orders/drafts/{orderNumber}": {
      "get": {
        "operationId": "getOrdersDraftsByorderNumber",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersDraftOrder"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.drafts.orderNumber.get.schema.json",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-drafts-ordernumber"
        }
      },
      "put": {
        "operationId": "putOrdersDraftsByorderNumber",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftOrder"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftOrder"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.drafts.orderNumber.put.schema.json",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftOrderPUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-orders-drafts-ordernumber"
        }
      }
    },
    "/orders/drafts/{orderNumber}/templates": {
      "get": {
        "operationId": "getOrdersDraftsByorderNumberTemplates",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersForGETingTemplates"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.drafts.orderNumber.templates.get.schema.json",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-drafts-ordernumber-templates"
        }
      }
    },
    "/orders/sent": {
      "get": {
        "operationId": "getOrdersSent",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentOrderCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.sent.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-sent"
        }
      }
    },
    "/orders/sent/{orderNumber}": {
      "get": {
        "operationId": "getOrdersSentByorderNumber",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersSentOrder"
                }
              }
            }
          }
        },
        "x-economic-source": "orders.sent.orderNumber.get.schema.json",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-orders-sent-ordernumber"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "ArchivedOrder": {
        "title": "Archived order",
        "type": "object",
        "properties": {
          "orderNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "x-default-sorting": "ascending",
            "description": "A reference number for the order document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "Order issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the order."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the order currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the order currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency before all taxes and discounts have been applied."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency after all taxes and discounts have been applied."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the order and the sales net order amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net order amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the order in the order currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the order in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the order in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the order is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the order.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the order. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "orderWeekStartingSunday",
                  "orderWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being orderd.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the order. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the order may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this order is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the order",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the order. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the order.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The order heading. Usually displayed at the top of the order."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the order. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the order. This is usually displayed as a footer on the order."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this order.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the order.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the order. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the order."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the order is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "pdf": {
            "type": "object",
            "description": "References to a pdf representation of this order.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "References a pdf representation of this order."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP order handle.",
            "properties": {
              "orderHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP order handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP order handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the specific draft order."
          }
        },
        "required": [
          "self"
        ]
      },
      "ArchivedOrderCollection": {
        "title": "Archived order collection schema",
        "description": "A schema for retrieving a collection of archived orders.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of archived orders.",
            "items": {
              "$ref": "#/components/schemas/ArchivedOrder"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the archived order collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftOrder": {
        "title": "Draft order",
        "type": "object",
        "properties": {
          "orderNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "x-default-sorting": "ascending",
            "description": "A reference number for the order document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "Order issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the order."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the order currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the order currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency before all taxes and discounts have been applied."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency after all taxes and discounts have been applied."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the order and the sales net order amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net order amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the order in the order currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the order in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the order in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the order is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the order.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the order. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "orderWeekStartingSunday",
                  "orderWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being orderd.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the order. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the order may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this order is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the order",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the order. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the order.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The order heading. Usually displayed at the top of the order."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the order. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the order. This is usually displayed as a footer on the order."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this order.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the order.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the order. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the order."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the order is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "pattern": "\\d{4}-\\d{2}-\\d{2}Td{2}:d{2}:d{2}Z",
            "x-filterable": true,
            "readOnly": true,
            "description": "The last time the order was updated. The date is formatted according to ISO-8601."
          },
          "pdf": {
            "type": "object",
            "description": "References to a pdf representation of this order.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "References a pdf representation of this order."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP order handle.",
            "properties": {
              "orderHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP order handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP order handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "templates": {
            "type": "object",
            "description": "References to all templates on this draft invoice.",
            "readOnly": true,
            "properties": {
              "upgradeInstructions": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the document to POST to /invoices/drafts to upgrade the order to an invoice draft."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the order templates resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the specific draft order."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftOrderPUT": {
        "title": "Draft order schema",
        "description": "A schema for replacing a draft order.",
        "type": "object",
        "properties": {
          "orderNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "description": "A reference number for the order document.",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "Order issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the order."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the order currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the order currency.",
            "nullable": true
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency before all taxes and discounts have been applied.",
            "nullable": true
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement before all taxes and discounts have been applied.",
            "nullable": true
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency after all taxes and discounts have been applied.",
            "nullable": true
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total order amount in the base currency of the agreement after all taxes and discounts have been applied.",
            "nullable": true
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the order and the sales net order amount in base currency.",
            "nullable": true
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net order amount is less than the cost price this number will be negative.",
            "nullable": true
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the order in the order currency. This will have the same sign as net amount",
            "nullable": true
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the order in base currency.",
            "nullable": true
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the order in the base currency of the agreement.",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the order, is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the order.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the order. This field is only valid if terms of payment is not of type duedate."
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            }
          },
          "customer": {
            "type": "object",
            "description": "The customer of the order.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            }
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the order. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the order may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this order is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                }
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                }
              },
              "nemHandelType": {
                "enum": [
                  "ean",
                  "corporateIdentificationNumber",
                  "pNumber",
                  "peppol",
                  null
                ],
                "description": "Chosen NemHandel type used for e-invoicing."
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the order",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            }
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the order. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the order.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The order heading. Usually displayed at the top of the order."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the order. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the order. This is usually displayed as a footer on the order."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this order.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the order.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    }
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                }
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the order. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the order."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the order is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            }
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this order.",
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this order."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP order handle.",
            "properties": {
              "orderHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP order handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP order handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "templates": {
            "type": "object",
            "description": "References to all templates on this order.",
            "readOnly": true,
            "properties": {
              "upgradeInstructions": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the document to POST to /invoices/drafts to upgrade the order to an invoice draft."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the order templates resource."
              }
            }
          },
          "lines": {
            "title": "Order lines",
            "type": "array",
            "description": "An array containing the specific order lines.",
            "items": {
              "type": "object",
              "description": "An array of the order lines that make up the order.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the order.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending order within the order.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold."
                },
                "accrual": {
                  "type": "object",
                  "description": "Accrual is used to allocate costs and/or revenues over several periods.",
                  "properties": {
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The start date for the accrual. Format: YYYY-MM-DD."
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The end date for the accrual. Format: YYYY-MM-DD."
                    }
                  }
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the order line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "The name of the unit (e.g. \u0027kg\u0027 for weight or \u0027l\u0027 for volume)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the order line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
                      "description": "A unique reference to the product resource.",
                      "format": "uri"
                    }
                  }
                },
                "quantity": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The number of units of goods on the order line."
                },
                "unitNetPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The price of 1 unit of the goods or services on the order line in the order currency."
                },
                "discountPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "A line discount expressed as a percentage."
                },
                "unitCostPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The cost price of 1 unit of the goods or services in the order currency."
                },
                "marginInBaseCurrency": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The difference between the net price and the cost price on the order line in base currency."
                },
                "marginPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The margin on the order line expressed as a percentage."
                },
                "departmentalDistribution": {
                  "type": "object",
                  "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                  "properties": {
                    "departmentalDistributionNumber": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "A unique identifier of the departmental distribution."
                    },
                    "distributionType": {
                      "type": "string",
                      "description": "Type of the distribution"
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the departmental distribution resource."
                    }
                  }
                }
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the draft order."
          }
        },
        "required": [
          "recipient"
        ]
      },
      "DraftOrderCollection": {
        "title": "Draft order collection schema",
        "description": "A schema for retrieving a collection of draft orders.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of draft orders.",
            "items": {
              "$ref": "#/components/schemas/DraftOrder"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the draft order collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftOrderPost": {
        "title": "Draft order post schema",
        "description": "A schema for creating a draft order.",
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "Order issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "description": "The ISO 4217 3-letter currency code of the order."
          },
          "exchangeRate": {
            "type": "number",
            "x-max-decimals": 6,
            "maximum": 999999999999,
            "description": "The desired exchange rate between the order currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the order currency. If no exchange rate is supplied, the system will get the current daily rate, unless the order currency is the same as the base currency, in which case it will be set to 100.",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the order is due for payment. This property is only used if the terms of payment is of type \u0027duedate\u0027, in which case it is a mandatory property. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "grossAmount": {
            "type": "number",
            "readOnly": true,
            "x-max-decimals": 2,
            "description": "The total order amount in the order currency after all taxes and discounts have been applied.",
            "nullable": true
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The difference between the cost price of the items on the order and the sales net order amount in base currency.",
            "nullable": true
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The margin expressed as a percentage. If the net order amount is less than the cost price this number will be negative.",
            "nullable": true
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total order amount in the order currency before all taxes and discounts have been applied.",
            "nullable": true
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total rounding error, if any, on the order in base currency.",
            "nullable": true
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total amount of VAT on the order in the order currency. This will have the same sign as net amount",
            "nullable": true
          },
          "layout": {
            "type": "object",
            "description": "The layout used by the order.",
            "properties": {
              "layoutNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the layout."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the layout resource."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the order is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            }
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the order.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "readOnly": true,
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the order. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard",
                  "avtaleGiro"
                ],
                "readOnly": true,
                "description": "The type the payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            }
          },
          "customer": {
            "type": "object",
            "description": "The customer of the order.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            }
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the order. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the order may be ACME Headquarters, but the recipient of the order may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this order is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                }
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                }
              },
              "mobilePhone": {
                "type": "string",
                "description": "The phone number the order was sent to (if applicable)."
              },
              "nemHandelType": {
                "enum": [
                  "ean",
                  "corporateIdentificationNumber",
                  "pNumber",
                  "peppol",
                  null
                ],
                "description": "Chosen NemHandel type used for e-invoicing."
              }
            },
            "required": [
              "name",
              "vatZone"
            ]
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the order",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            }
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the order. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the order.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "description": "The order heading. Usually displayed at the top of the order."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "description": "The first line of supplementary text on the order. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "description": "The second line of supplementary text in the notes on the order. This is usually displayed as a footer on the order."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this order.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the order.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                }
              },
              "salesPerson": {
                "type": "object",
                "description": "The primary sales person is a reference to the employee who sold the goods on the order.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "description": "A text field that can be used to save any custom reference on the order."
              }
            }
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this order.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this draft order."
              }
            }
          },
          "lines": {
            "title": "order lines",
            "type": "array",
            "description": "An array containing the specific order lines.",
            "items": {
              "type": "object",
              "description": "An array of the order lines that make up the order.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the order.",
                  "minimum": 1
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending order within the order.",
                  "minimum": 1
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold. Please note, that when setting existing products, description field is required. While setting non-existing product, description field can remain empty."
                },
                "accrual": {
                  "type": "object",
                  "description": "The accrual for the order.",
                  "properties": {
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The start date for the accrual. Format: YYYY-MM-DD."
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The end date for the accrual. Format: YYYY-MM-DD."
                    }
                  }
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the order line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 1
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the order line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
[...]
