{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - payment-types",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/payment-types": {
      "get": {
        "operationId": "getPaymentTypes",
        "tags": [
          "payment-types"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTypeCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "payment-types.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-payment-types"
        }
      }
    },
    "/payment-types/{paymentTypeNumber}": {
      "get": {
        "operationId": "getPaymentTypesBypaymentTypeNumber",
        "tags": [
          "payment-types"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTypeYear"
                }
              }
            }
          }
        },
        "x-economic-source": "payment-types.paymentTypeNumber.get.schema.json",
        "parameters": [
          {
            "name": "paymentTypeNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-payment-types-paymenttypenumber"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "PaymentType": {
        "title": "Payment type",
        "type": "object",
        "description": "A specific payment type on the agreement.",
        "properties": {
          "paymentTypeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "The payment type number is a positive unique numerical identifier."
          },
          "name": {
            "type": "string",
            "maxLength": 50,
            "minLength": 1,
            "description": "The payment type name."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the payment type item."
          }
        },
        "required": [
          "name",
          "self"
        ]
      },
      "PaymentTypeCollection": {
        "title": "Payment type collection GET schema",
        "description": "A schema for retrieval of a collection of payment types.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "The array containing all the payment types on the agreement.",
            "items": {
              "$ref": "#/components/schemas/PaymentType"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the payment type collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "PaymentTypeYear": {
        "title": "Payment type year GET schema",
        "description": "A schema for retrieval of a payment type.",
        "type": "object",
        "properties": {
          "paymentTypeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "The payment type number is a positive unique numerical identifier."
          },
          "name": {
            "type": "string",
            "maxLength": 50,
            "minLength": 1,
            "description": "The payment type name."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the payment type item."
          }
        },
        "required": [
          "name",
          "self"
        ]
      }
    }
  }
}
