{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - product-groups",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/product-groups": {
      "get": {
        "operationId": "getProductGroups",
        "tags": [
          "product-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGroupsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "product-groups.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-product-groups"
        }
      }
    },
    "/product-groups/{productGroupNumber}": {
      "get": {
        "operationId": "getProductGroupsByproductGroupNumber",
        "tags": [
          "product-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGroups"
                }
              }
            }
          }
        },
        "x-economic-source": "product-groups.productGroupNumber.get.schema.json",
        "parameters": [
          {
            "name": "productGroupNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-product-groups-productgroupnumber       "
        }
      }
    },
    "/product-groups/{productGroupNumber}/products": {
      "get": {
        "operationId": "getProductGroupsByproductGroupNumberProducts",
        "tags": [
          "product-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "product-groups.productGroupNumber.products.get.schema.json",
        "parameters": [
          {
            "name": "productGroupNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-product-groups-productgroupnumber-products"
        }
      }
    },
    "/product-groups/{productGroupNumber}/sales-accounts": {
      "get": {
        "operationId": "getProductGroupsByproductGroupNumberSalesAccounts",
        "tags": [
          "product-groups"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGroupsAccountsCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "product-groups.productGroupNumber.sales-accounts.get.schema.json",
        "parameters": [
          {
            "name": "productGroupNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-product-groups-productgroupnumber-sales-accounts"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "ProductGroup": {
        "title": "Product group",
        "type": "object",
        "description": "A specific product group.",
        "properties": {
          "productGroupNumber": {
            "type": "integer",
            "description": "Unique number identifying the product group."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Descriptive name of the product group."
          },
          "salesAccounts": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "description": "A reference to the sales accounts in this product group resource."
          },
          "products": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "description": "A reference to the products in this product group resource."
          },
          "inventoryEnabled": {
            "type": "boolean",
            "readOnly": true,
            "description": "States if the product group is inventory enabled or not."
          },
          "accrual": {
            "type": "object",
            "readOnly": true,
            "description": "A reference to the accrual account this product group is connected to.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "readOnly": true,
                "description": "Unique number identifying the accruals account."
              },
              "accountType": {
                "enum": [
                  "profitAndLoss",
                  "status",
                  "totalFrom",
                  "heading",
                  "headingStart",
                  "sumInterval",
                  "sumAlpha"
                ],
                "default": "profitAndLoss",
                "readOnly": true,
                "description": "The type of account in the chart of accounts."
              },
              "balance": {
                "type": "number",
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The current balance of the accruals account."
              },
              "draftBalance": {
                "type": "number",
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The current balance of the account including draft (not yet booked) entries."
              },
              "barred": {
                "type": "boolean",
                "readOnly": true,
                "description": "Shows if the account is barred from being used."
              },
              "blockDirectEntries": {
                "type": "boolean",
                "readOnly": true,
                "description": "Determines if the account can be manually updated with entries."
              },
              "contraAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The default contra account of the account.",
                "properties": {
                  "accountNumber": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Account number of the contra account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the contra account."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "debitCredit": {
                "enum": [
                  "debit",
                  "credit"
                ],
                "default": "debit",
                "readOnly": true,
                "description": "Describes the default update type of the account."
              },
              "name": {
                "type": "string",
                "maxLength": 125,
                "readOnly": true,
                "description": "The name of the account."
              },
              "vatAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The default VAT code for this account.",
                "properties": {
                  "vatCode": {
                    "type": "string",
                    "maxLength": 5,
                    "readOnly": true,
                    "description": "The VAT code of the VAT account for this account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the VAT code."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "accountsSummed": {
                "type": "array",
                "readOnly": true,
                "description": "An array of the account intervals used for calculating the total for this account.",
                "items": {
                  "type": "object",
                  "readOnly": true,
                  "description": "An account interval.",
                  "properties": {
                    "fromAccount": {
                      "type": "object",
                      "readOnly": true,
                      "description": "The first account in the interval.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "readOnly": true,
                          "description": "Account number of the first account in the interval."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "readOnly": true,
                          "description": "The unique self link of the first account in the interval."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "toAccount": {
                      "type": "object",
                      "readOnly": true,
                      "description": "The last account in the interval.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "readOnly": true,
                          "description": "Account number of the last account in the interval."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "readOnly": true,
                          "description": "The unique self link of the last account in the interval."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    }
                  }
                }
              },
              "totalFromAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The account from which the sum total for this account is calculated.",
                "properties": {
                  "accountNumber": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Account number of the first account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the first account."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "accountingYears": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A link to a list of accounting years for which the account is usable."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A unique reference to the accruals account resource."
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique reference to this product group resource."
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductGroups": {
        "title": "Product groups GET schema",
        "description": "A schema for retrieval of a single product group.",
        "type": "object",
        "properties": {
          "productGroupNumber": {
            "type": "integer",
            "description": "Unique number identifying the product group."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Descriptive name of the product group."
          },
          "salesAccounts": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "description": "A reference to the sales accounts in this product group resource."
          },
          "products": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "description": "A reference to the products in this product group resource."
          },
          "inventoryEnabled": {
            "type": "boolean",
            "readOnly": true,
            "description": "States if the product group is inventory enabled or not."
          },
          "accrual": {
            "type": "object",
            "readOnly": true,
            "description": "A reference to the accrual account this product group is connected to.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "readOnly": true,
                "description": "Unique number identifying the accruals account."
              },
              "accountType": {
                "enum": [
                  "profitAndLoss",
                  "status",
                  "totalFrom",
                  "heading",
                  "headingStart",
                  "sumInterval",
                  "sumAlpha"
                ],
                "default": "profitAndLoss",
                "readOnly": true,
                "description": "The type of account in the chart of accounts."
              },
              "balance": {
                "type": "number",
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The current balance of the accruals account."
              },
              "draftBalance": {
                "type": "number",
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The current balance of the account including draft (not yet booked) entries."
              },
              "barred": {
                "type": "boolean",
                "readOnly": true,
                "description": "Shows if the account is barred from being used."
              },
              "blockDirectEntries": {
                "type": "boolean",
                "readOnly": true,
                "description": "Determines if the account can be manually updated with entries."
              },
              "contraAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The default contra account of the account.",
                "properties": {
                  "accountNumber": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Account number of the contra account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the contra account."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "debitCredit": {
                "enum": [
                  "debit",
                  "credit"
                ],
                "default": "debit",
                "readOnly": true,
                "description": "Describes the default update type of the account."
              },
              "name": {
                "type": "string",
                "maxLength": 125,
                "readOnly": true,
                "description": "The name of the account."
              },
              "vatAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The default VAT code for this account.",
                "properties": {
                  "vatCode": {
                    "type": "string",
                    "maxLength": 5,
                    "readOnly": true,
                    "description": "The VAT code of the VAT account for this account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the VAT code."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "accountsSummed": {
                "type": "array",
                "readOnly": true,
                "description": "An array of the account intervals used for calculating the total for this account.",
                "items": {
                  "type": "object",
                  "readOnly": true,
                  "description": "An account interval.",
                  "properties": {
                    "fromAccount": {
                      "type": "object",
                      "readOnly": true,
                      "description": "The first account in the interval.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "readOnly": true,
                          "description": "Account number of the first account in the interval."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "readOnly": true,
                          "description": "The unique self link of the first account in the interval."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "toAccount": {
                      "type": "object",
                      "readOnly": true,
                      "description": "The last account in the interval.",
                      "properties": {
                        "accountNumber": {
                          "type": "integer",
                          "readOnly": true,
                          "description": "Account number of the last account in the interval."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "readOnly": true,
                          "description": "The unique self link of the last account in the interval."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    }
                  }
                }
              },
              "totalFromAccount": {
                "type": "object",
                "readOnly": true,
                "description": "The account from which the sum total for this account is calculated.",
                "properties": {
                  "accountNumber": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Account number of the first account."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "The unique self link of the first account."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "accountingYears": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A link to a list of accounting years for which the account is usable."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A unique reference to the accruals account resource."
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique reference to this product group resource."
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductGroupsAccount": {
        "title": "Account schema",
        "type": "object",
        "description": "A schema for information about an account.",
        "properties": {
          "accountNumber": {
            "type": "integer",
            "x-filterable": true,
            "x-sortable": true,
            "x-default-sorting": "ascending",
            "description": "The account\u0027s number."
          },
          "accountType": {
            "enum": [
              "profitAndLoss",
              "status",
              "totalFrom",
              "heading",
              "headingStart",
              "sumInterval",
              "sumAlpha"
            ],
            "default": "profitAndLoss",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The type of account in the chart of accounts."
          },
          "balance": {
            "type": "number",
            "x-max-decimals": 2,
            "x-filterable": true,
            "x-sortable": true,
            "description": "The current balance of the account."
          },
          "draftBalance": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The current balance of the account including draft (not yet booked) entries."
          },
          "barred": {
            "type": "boolean",
            "x-filterable": true,
            "description": "Shows if the account is barred from being used."
          },
          "blockDirectEntries": {
            "type": "boolean",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Determines if the account can be manually updated with entries."
          },
          "contraAccount": {
            "type": "object",
            "description": "The default contra account of the account.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "description": "Account number of the contra account."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The unique self link of the contra account."
              }
            },
            "required": [
              "self"
            ]
          },
          "debitCredit": {
            "enum": [
              "debit",
              "credit"
            ],
            "default": "debit",
            "x-sortable": true,
            "x-filterable": true,
            "description": "Describes the default update type of the account."
          },
          "name": {
            "type": "string",
            "maxLength": 125,
            "x-sortable": true,
            "x-filterable": true,
            "description": "The name of the account."
          },
          "vatAccount": {
            "type": "object",
            "description": "The default VAT code for this account.",
            "properties": {
              "vatCode": {
                "type": "string",
                "maxLength": 5,
                "description": "The VAT code of the VAT account for this account."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The unique self link of the VAT code."
              }
            },
            "required": [
              "self"
            ]
          },
          "accountsSummed": {
            "type": "array",
            "description": "An array of the account intervals used for calculating the total for this account.",
            "items": {
              "type": "object",
              "description": "An account interval.",
              "properties": {
                "fromAccount": {
                  "type": "object",
                  "description": "The first account in the interval.",
                  "properties": {
                    "accountNumber": {
                      "type": "integer",
                      "description": "Account number of the first account in the interval."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "The unique self link of the first account in the interval."
                    }
                  },
                  "required": [
                    "self"
                  ]
                },
                "toAccount": {
                  "type": "object",
                  "description": "The last account in the interval.",
                  "properties": {
                    "accountNumber": {
                      "type": "integer",
                      "description": "Account number of the last account in the interval."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "The unique self link of the last account in the interval."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          },
          "totalFromAccount": {
            "type": "object",
            "description": "The account from which the sum total for this account is calculated.",
            "properties": {
              "accountNumber": {
                "type": "integer",
                "description": "Account number of the first account."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The unique self link of the first account."
              }
            },
            "required": [
              "self"
            ]
          },
          "accountingYears": {
            "type": "string",
            "format": "uri",
            "description": "A link to a list of accounting years for which the account is usable."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique reference to the account resource."
          }
        }
      },
      "ProductGroupsAccountsCollection": {
        "title": "Accounts collection schema",
        "description": "A schema for retrieving the accounts belonging to a specific product group.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of the product group vat zones and their accompanying sales accounts.",
            "items": {
              "type": "object",
              "description": "A product group vat zone and its accompanying sales account.",
              "properties": {
                "salesAccount": {
                  "$ref": "#/components/schemas/ProductGroupsAccount"
                },
                "vatZone": {
                  "$ref": "#/components/schemas/ProductGroupsVatZone"
                }
              }
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the product groups accounts collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductGroupsCollection": {
        "title": "Product groups collection GET schema",
        "description": "A schema for retrieval of a collection of product groups.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "The array containing all the product groups.",
            "items": {
              "$ref": "#/components/schemas/ProductGroup"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the product groups collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductGroupsProduct": {
        "title": "Product",
        "type": "object",
        "description": "A specific product.",
        "properties": {
          "productNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "x-filterable": true,
            "x-sortable": true,
            "description": "Unique alphanumeric product number."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "x-filterable": true,
            "x-sortable": true,
            "description": "Free text description of product."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "x-filterable": true,
            "x-sortable": true,
            "description": "Descriptive name of the product."
          },
          "costPrice": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 2,
            "description": "The cost of the goods. If you have the inventory module enabled, this is read-only and will just be ignored."
          },
          "recommendedPrice": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 2,
            "description": "Recommended retail price of the goods."
          },
          "salesPrice": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 2,
            "description": "This is the unit net price that will appear on invoice lines when a product is added to an invoice line."
          },
          "barCode": {
            "type": "string",
            "maxLength": 50,
            "x-filterable": true,
            "x-sortable": true,
            "description": "String representation of a machine readable barcode symbol that represents this product."
          },
          "barred": {
            "type": "boolean",
            "x-filterable": true,
            "x-sortable": true,
            "description": "If this value is true, then the product can no longer be sold, and trying to book an invoice with this product will not be possible."
          },
          "lastUpdated": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z",
            "x-filterable": true,
            "x-sortable": true,
            "readOnly": true,
            "description": "Invoice issue date. The date is formatted according to ISO-8601."
          },
          "invoices": {
            "type": "object",
            "description": "A collection of convenience links to invoices that contains this product.",
            "properties": {
              "drafts": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the draft invoices containing this product."
              },
              "booked": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the booked invoices containing this product."
              }
            }
          },
          "inventory": {
            "type": "object",
            "description": "A collection of properties that are only applicable if the inventory module is enabled.",
            "properties": {
              "available": {
                "type": "number",
                "readOnly": true,
                "x-max-decimals": 2,
                "description": "The number of units available to sell. This is the difference between the amount in stock and the amount ordered by customers."
              },
              "inStock": {
                "type": "number",
                "readOnly": true,
                "x-max-decimals": 2,
                "description": "The number of units in stock including any that have been ordered by customers."
              },
              "orderedByCustomers": {
                "type": "number",
                "readOnly": true,
                "x-max-decimals": 2,
                "description": "The number of units that have been ordered by customers, but haven\u0027t been sold yet."
              },
              "orderedFromSuppliers": {
                "type": "number",
                "readOnly": true,
                "x-max-decimals": 2,
                "description": "The number of units that have been ordered from your suppliers, but haven\u0027t been delivered to you yet."
              },
              "packageVolume": {
                "type": "number",
                "x-filterable": true,
                "x-sortable": true,
                "x-max-decimals": 2,
                "description": "The volume the shipped package makes up."
              },
              "grossWeight": {
                "type": "number",
                "x-filterable": true,
                "x-sortable": true,
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The gross weight of the product."
              },
              "netWeight": {
                "type": "number",
                "x-filterable": true,
                "x-sortable": true,
                "x-max-decimals": 2,
                "readOnly": true,
                "description": "The net weight of the product."
              },
              "inventoryLastUpdated": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}Td{2}:d{2}:d{2}Z",
                "readOnly": true,
                "description": "The last time this product was updated with regards to inventory."
              },
              "recommendedCostPrice": {
                "type": "number",
                "x-filterable": true,
                "x-max-decimals": 2,
                "description": "The recommendedCostPrice of the product."
              }
            }
          },
          "unit": {
            "type": "object",
            "description": "A reference to the unit this product is counted in.",
            "properties": {
              "unitNumber": {
                "type": "integer",
                "x-filterable": true,
                "description": "Unique number identifying the unit."
              },
              "name": {
                "type": "string",
                "maxLength": 100,
                "description": "The name of the unit."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the unit resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "productGroup": {
            "type": "object",
            "description": "A reference to the product group this product is contained within.",
            "properties": {
              "productGroupNumber": {
                "type": "integer",
                "description": "Unique number identifying the product group."
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50,
                "description": "Descriptive name of the product group."
              },
              "salesAccounts": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A reference to the sales accounts in this product group resource."
              },
              "products": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "A reference to the products in this product group resource."
              },
              "inventoryEnabled": {
                "type": "boolean",
                "readOnly": true,
                "description": "States if the product group is inventory enabled or not."
              },
              "accrual": {
                "type": "object",
                "readOnly": true,
                "description": "A reference to the accrual account this product group is connected to.",
                "properties": {
                  "accountNumber": {
                    "type": "integer",
                    "readOnly": true,
                    "description": "Unique number identifying the accruals account."
                  },
                  "accountType": {
                    "enum": [
                      "profitAndLoss",
                      "status",
                      "totalFrom",
                      "heading",
                      "headingStart",
                      "sumInterval",
                      "sumAlpha"
                    ],
                    "default": "profitAndLoss",
                    "readOnly": true,
                    "description": "The type of account in the chart of accounts."
                  },
                  "balance": {
                    "type": "number",
                    "x-max-decimals": 2,
                    "readOnly": true,
                    "description": "The current balance of the accruals account."
                  },
                  "draftBalance": {
                    "type": "number",
                    "x-max-decimals": 2,
                    "readOnly": true,
                    "description": "The current balance of the account including draft (not yet booked) entries."
                  },
                  "barred": {
                    "type": "boolean",
                    "readOnly": true,
                    "description": "Shows if the account is barred from being used."
                  },
                  "blockDirectEntries": {
                    "type": "boolean",
                    "readOnly": true,
                    "description": "Determines if the account can be manually updated with entries."
                  },
                  "contraAccount": {
                    "type": "object",
                    "readOnly": true,
                    "description": "The default contra account of the account.",
                    "properties": {
                      "accountNumber": {
                        "type": "integer",
                        "readOnly": true,
                        "description": "Account number of the contra account."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "readOnly": true,
                        "description": "The unique self link of the contra account."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "debitCredit": {
                    "enum": [
                      "debit",
                      "credit"
                    ],
                    "default": "debit",
                    "readOnly": true,
                    "description": "Describes the default update type of the account."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 125,
                    "readOnly": true,
                    "description": "The name of the account."
                  },
                  "vatAccount": {
                    "type": "object",
                    "readOnly": true,
                    "description": "The default VAT code for this account.",
                    "properties": {
                      "vatCode": {
                        "type": "string",
                        "maxLength": 5,
                        "readOnly": true,
                        "description": "The VAT code of the VAT account for this account."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "readOnly": true,
                        "description": "The unique self link of the VAT code."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "accountsSummed": {
                    "type": "array",
                    "readOnly": true,
                    "description": "An array of the account intervals used for calculating the total for this account.",
                    "items": {
                      "type": "object",
                      "readOnly": true,
                      "description": "An account interval.",
                      "properties": {
                        "fromAccount": {
                          "type": "object",
                          "readOnly": true,
                          "description": "The first account in the interval.",
                          "properties": {
                            "accountNumber": {
                              "type": "integer",
                              "readOnly": true,
                              "description": "Account number of the first account in the interval."
                            },
                            "self": {
                              "type": "string",
                              "format": "uri",
                              "readOnly": true,
                              "description": "The unique self link of the first account in the interval."
                            }
                          },
                          "required": [
                            "self"
                          ]
                        },
                        "toAccount": {
                          "type": "object",
                          "readOnly": true,
                          "description": "The last account in the interval.",
                          "properties": {
                            "accountNumber": {
                              "type": "integer",
                              "readOnly": true,
                              "description": "Account number of the last account in the interval."
                            },
                            "self": {
                              "type": "string",
                              "format": "uri",
                              "readOnly": true,
                              "description": "The unique self link of the last account in the interval."
                            }
                          },
                          "required": [
                            "self"
                          ]
                        }
                      }
                    }
                  },
                  "totalFromAccount": {
                    "type": "object",
                    "readOnly": true,
                    "description": "The account from which the sum total for this account is calculated.",
                    "properties": {
                      "accountNumber": {
                        "type": "integer",
                        "readOnly": true,
                        "description": "Account number of the first account."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "readOnly": true,
                        "description": "The unique self link of the first account."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "accountingYears": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "A link to a list of accounting years for which the account is usable."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "readOnly": true,
                    "description": "A unique reference to the accruals account resource."
                  }
                }
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the product group resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "departmentalDistribution": {
            "type": "object",
            "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
            "properties": {
              "departmentalDistributionNumber": {
                "type": "integer",
                "x-filterable": true,
                "minimum": 1,
                "description": "A unique identifier of the departmental distribution."
              },
              "distributionType": {
                "type": "string",
                "description": "Type of the distribution"
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the departmental distribution resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique reference to this product resource."
          }
        },
        "required": [
          "productNumber",
          "name",
          "productGroup",
          "self"
        ]
      },
      "ProductGroupsVatZone": {
        "title": "Vat zone",
        "type": "object",
        "description": "A specific vat zone.",
        "properties": {
          "vatZoneNumber": {
            "type": "integer",
            "description": "A unique identifier of the vat zone."
          },
          "name": {
            "type": "string",
            "maxLength": 50,
            "description": "The name of the vat zone."
          },
          "enabledForCustomer": {
            "type": "boolean",
            "description": "If this value is true, then the vat zone can be used for a customer."
          },
          "enabledForSupplier": {
            "type": "boolean",
            "description": "If this value is true, then the vat zone can be used for a supplier."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "A unique link reference to the vat zone item."
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductCollection": {
        "title": "Products collection GET schema",
        "description": "A schema for retrieval of a collection of products belonging to a product group.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "The array containing all the products.",
            "items": {
              "$ref": "#/components/schemas/ProductGroupsProduct"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the product groups product collection."
          }
        },
        "required": [
          "self"
        ]
      }
    }
  }
}
