{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic legacy REST API - quotes",
    "version": "1.0.0",
    "description": "Generated from e-conomic\u0027s published JSON Schema draft-03 files by tools/EConomic.SpecConverter. Do not edit by hand."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "security": [
    {
      "AppSecretToken": [],
      "AgreementGrantToken": []
    }
  ],
  "paths": {
    "/quotes": {
      "get": {
        "operationId": "getQuotes",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.get.schema.json",
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes"
        }
      }
    },
    "/quotes/archived": {
      "get": {
        "operationId": "getQuotesArchived",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedQuoteCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.archived.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-archived"
        }
      }
    },
    "/quotes/archived/{quoteNumber}": {
      "get": {
        "operationId": "getQuotesArchivedByquoteNumber",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesArchivedQuote"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.archived.quoteNumber.get.schema.json",
        "parameters": [
          {
            "name": "quoteNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-archived-quotenumber"
        }
      }
    },
    "/quotes/drafts": {
      "get": {
        "operationId": "getQuotesDrafts",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftQuoteCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.drafts.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-drafts"
        }
      },
      "post": {
        "operationId": "postQuotesDrafts",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftQuotePost"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftQuotePost"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.drafts.post.schema.json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftQuotePost"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#post-quotes-drafts"
        }
      }
    },
    "/quotes/drafts/{quoteNumber}": {
      "get": {
        "operationId": "getQuotesDraftsByquoteNumber",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesDraftQuote"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.drafts.quoteNumber.get.schema.json",
        "parameters": [
          {
            "name": "quoteNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-drafts-quotenumber"
        }
      },
      "put": {
        "operationId": "putQuotesDraftsByquoteNumber",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftQuotePUT"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftQuotePUT"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.drafts.quoteNumber.put.schema.json",
        "parameters": [
          {
            "name": "quoteNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftQuotePUT"
              }
            }
          }
        },
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#put-quotes-drafts-quotenumber"
        }
      }
    },
    "/quotes/drafts/{quoteNumber}/templates": {
      "get": {
        "operationId": "getQuotesDraftsByquoteNumberTemplates",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesForGETingTemplates"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.drafts.quoteNumber.templates.get.schema.json",
        "parameters": [
          {
            "name": "quoteNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-drafts-quotenumber-templates"
        }
      }
    },
    "/quotes/sent": {
      "get": {
        "operationId": "getQuotesSent",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentQuoteCollection"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.sent.get.schema.json",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter expression, e.g. \u0060name$eq:Joe$and:city$like:*port\u0060. Values must escape \u0060$\u0060 \u0060(\u0060 \u0060)\u0060 \u0060*\u0060 \u0060[\u0060 \u0060]\u0060 \u0060,\u0060 by prefixing them with \u0060$\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field; prefix with \u0060-\u0060 for descending, \u0060~\u0060 to sort numerics alphabetically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skippages",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page offset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20, maximum 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-sent"
        }
      }
    },
    "/quotes/sent/{quoteNumber}": {
      "get": {
        "operationId": "getQuotesSentByquoteNumber",
        "tags": [
          "quotes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesSentQuote"
                }
              }
            }
          }
        },
        "x-economic-source": "quotes.sent.quoteNumber.get.schema.json",
        "parameters": [
          {
            "name": "quoteNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "externalDocs": {
          "url": "http://restdocs.e-conomic.com/#get-quotes-sent-quotenumber"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppSecretToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AppSecretToken",
        "description": "Identifies the integration."
      },
      "AgreementGrantToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AgreementGrantToken",
        "description": "Identifies the customer agreement."
      }
    },
    "schemas": {
      "ArchivedQuote": {
        "title": "Archived quote",
        "type": "object",
        "properties": {
          "quoteNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "x-default-sorting": "ascending",
            "description": "A reference number for the quote document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "quote issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the quote."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the quote currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the quote currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency before all taxes and discounts have been applied."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency after all taxes and discounts have been applied."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the quote and the sales net quote amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net quote amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the quote in the quote currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the quote in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the quote in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the quote is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the quote.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the quote. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "quoteWeekStartingSunday",
                  "quoteWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being quoted.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the quote. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the quote may be ACME Headquarters, but the recipient of the quote may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this quote is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the quote",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the quote. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the quote.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The quote heading. Usually displayed at the top of the quote."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the quote. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the quote. This is usually displayed as a footer on the quote."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this quote.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the quote.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the quote. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the quote."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the quote is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "pdf": {
            "type": "object",
            "description": "References to a pdf representation of this quote.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "References a pdf representation of this quote."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP quote handle.",
            "properties": {
              "quoteHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP quote handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP quote handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the specific draft quote."
          }
        },
        "required": [
          "self"
        ]
      },
      "ArchivedQuoteCollection": {
        "title": "Archived quote collection schema",
        "description": "A schema for retrieving a collection of archived quotes.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of archived quotes.",
            "items": {
              "$ref": "#/components/schemas/ArchivedQuote"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the archived quote collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftQuote": {
        "title": "Draft quote",
        "type": "object",
        "properties": {
          "quoteNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "x-default-sorting": "ascending",
            "description": "A reference number for the quote document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "quote issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the quote."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the quote currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the quote currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency before all taxes and discounts have been applied."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency after all taxes and discounts have been applied."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the quote and the sales net quote amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net quote amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the quote in the quote currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the quote in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the quote in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the quote is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the quote.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the quote. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "quoteWeekStartingSunday",
                  "quoteWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "customer": {
            "type": "object",
            "description": "The customer being quoted.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the quote. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the quote may be ACME Headquarters, but the recipient of the quote may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this quote is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "cvr": {
                "type": "string",
                "description": "The Corporate Identification Number of the recipient for example CVR in Denmark.",
                "maxLength": 40
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the quote",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the quote. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the quote.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The quote heading. Usually displayed at the top of the quote."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the quote. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the quote. This is usually displayed as a footer on the quote."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this quote.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the quote.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    },
                    "required": [
                      "self"
                    ]
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the quote. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                },
                "required": [
                  "self"
                ]
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the quote."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the quote is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "pattern": "\\d{4}-\\d{2}-\\d{2}Td{2}:d{2}:d{2}Z",
            "x-filterable": true,
            "readOnly": true,
            "description": "The last time the quote was updated. The date is formatted according to ISO-8601."
          },
          "pdf": {
            "type": "object",
            "description": "References to a pdf representation of this quote.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "References a pdf representation of this quote."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP quote handle.",
            "properties": {
              "quoteHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP quote handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP quote handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "templates": {
            "type": "object",
            "description": "References to all templates on this draft invoice.",
            "readOnly": true,
            "properties": {
              "upgradeInstructions": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the document to POST to /invoices/drafts to upgrade the quote to an invoice draft."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the quote templates resource."
              }
            },
            "required": [
              "self"
            ]
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the specific draft quote."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftQuotePUT": {
        "title": "Draft quote schema",
        "description": "A schema for replacing a draft quote.",
        "type": "object",
        "properties": {
          "quoteNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999,
            "x-filterable": true,
            "x-sortable": true,
            "description": "A reference number for the quote document."
          },
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "quote issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "x-filterable": true,
            "x-sortable": true,
            "description": "The ISO 4217 currency code of the quote."
          },
          "exchangeRate": {
            "type": "number",
            "x-filterable": true,
            "x-sortable": true,
            "x-max-decimals": 6,
            "description": "The exchange rate between the quote currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the quote currency."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency before all taxes and discounts have been applied."
          },
          "netAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement before all taxes and discounts have been applied."
          },
          "grossAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency after all taxes and discounts have been applied."
          },
          "grossAmountInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total quote amount in the base currency of the agreement after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The difference between the cost price of the items on the quote and the sales net quote amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The margin expressed as a percentage. If the net quote amount is less than the cost price this number will be negative."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total amount of VAT on the quote in the quote currency. This will have the same sign as net amount"
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total rounding error, if any, on the quote in base currency."
          },
          "costPriceInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "description": "The total cost of the items on the quote in the base currency of the agreement."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the quote, is due for payment. Format according to ISO-8601 (YYYY-MM-DD). This is only used if the terms of payment is of type \u0027duedate\u0027."
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the quote.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the quote. This field is only valid if terms of payment is not of type duedate."
              },
              "name": {
                "type": "string",
                "maxLength": 50,
                "description": "The name of the payment terms."
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard"
                ],
                "description": "The type of payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            }
          },
          "customer": {
            "type": "object",
            "description": "The customer of the quote.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            }
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the quote. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the quote may be ACME Headquarters, but the recipient of the quote may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this quote is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                }
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                }
              },
              "nemHandelType": {
                "enum": [
                  "ean",
                  "corporateIdentificationNumber",
                  "pNumber",
                  "peppol",
                  null
                ],
                "description": "Chosen NemHandel type used for e-invoicing."
              }
            }
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the quote",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "x-filterable": true,
                "x-sortable": true,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            }
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the quote. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "x-filterable": true,
                "x-sortable": true,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "x-filterable": true,
                "x-sortable": true,
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the quote.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The quote heading. Usually displayed at the top of the quote."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The first line of supplementary text on the quote. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "x-filterable": true,
                "x-sortable": true,
                "description": "The second line of supplementary text in the notes on the quote. This is usually displayed as a footer on the quote."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this quote.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the quote.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "description": "Unique identifier of the customer contact."
                  },
                  "customer": {
                    "type": "object",
                    "description": "The customer this contact belongs to.",
                    "properties": {
                      "customerNumber": {
                        "type": "integer",
                        "maximum": 999999999,
                        "minimum": 1,
                        "x-filterable": true,
                        "x-sortable": true,
                        "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
                      },
                      "self": {
                        "type": "string",
                        "format": "uri",
                        "description": "A unique reference to the customer resource."
                      }
                    }
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                }
              },
              "salesPerson": {
                "type": "object",
                "description": "The sales person is a reference to the employee who sold the goods on the quote. This is also the person who is credited with this sale in reports.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "x-filterable": true,
                    "x-sortable": true,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "x-filterable": true,
                "x-sortable": true,
                "description": "A text field that can be used to save any custom reference on the quote."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the quote is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            }
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this quote.",
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this quote."
              }
            }
          },
          "soap": {
            "type": "object",
            "description": "References a SOAP quote handle.",
            "properties": {
              "quoteHandle": {
                "type": "object",
                "description": "The unique reference of the SOAP quote handle.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of the SOAP quote handle.",
                    "x-filterable": true,
                    "x-sortable": true
                  }
                }
              }
            }
          },
          "templates": {
            "type": "object",
            "description": "References to all templates on this quote.",
            "readOnly": true,
            "properties": {
              "upgradeInstructions": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the document to POST to /invoices/drafts to upgrade the quote to an invoice draft."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "The self reference to the quote templates resource."
              }
            }
          },
          "lines": {
            "title": "quote lines",
            "type": "array",
            "description": "An array containing the specific quote lines.",
            "items": {
              "type": "object",
              "description": "An array of the quote lines that make up the quote.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the quote.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending quote within the quote.",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold."
                },
                "accrual": {
                  "type": "object",
                  "description": "Accrual is used to allocate costs and/or revenues over several periods.",
                  "properties": {
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The start date for the accrual. Format: YYYY-MM-DD."
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The end date for the accrual. Format: YYYY-MM-DD."
                    }
                  }
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the quote line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "The name of the unit (e.g. \u0027kg\u0027 for weight or \u0027l\u0027 for volume)."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the quote line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
                      "description": "A unique reference to the product resource.",
                      "format": "uri"
                    }
                  }
                },
                "quantity": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The number of units of goods on the quote line."
                },
                "unitNetPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The price of 1 unit of the goods or services on the quote line in the quote currency."
                },
                "discountPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "A line discount expressed as a percentage."
                },
                "unitCostPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The cost price of 1 unit of the goods or services in the quote currency."
                },
                "marginInBaseCurrency": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The difference between the net price and the cost price on the quote line in base currency."
                },
                "marginPercentage": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The margin on the quote line expressed as a percentage."
                },
                "departmentalDistribution": {
                  "type": "object",
                  "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                  "properties": {
                    "departmentalDistributionNumber": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "A unique identifier of the departmental distribution."
                    },
                    "distributionType": {
                      "type": "string",
                      "description": "Type of the distribution"
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the departmental distribution resource."
                    }
                  }
                }
              }
            }
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the draft quote."
          }
        },
        "required": [
          "recipient"
        ]
      },
      "DraftQuoteCollection": {
        "title": "Draft quote collection schema",
        "description": "A schema for retrieving a collection of draft quotes.",
        "type": "object",
        "properties": {
          "collection": {
            "type": "array",
            "description": "A collection of draft quotes.",
            "items": {
              "$ref": "#/components/schemas/DraftQuote"
            }
          },
          "metaData": {
            "type": "object",
            "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
          },
          "pagination": {
            "type": "object",
            "description": "Information about the pagination."
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "The unique self reference of the draft quote collection."
          }
        },
        "required": [
          "self"
        ]
      },
      "DraftQuotePost": {
        "title": "Draft quote post schema",
        "description": "A schema for creating a draft quote.",
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "quote issue date. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "currency": {
            "type": "string",
            "pattern": "[a-zA-Z]{3}",
            "description": "The ISO 4217 3-letter currency code of the quote."
          },
          "exchangeRate": {
            "type": "number",
            "x-max-decimals": 6,
            "maximum": 999999999999,
            "description": "The desired exchange rate between the quote currency and the base currency of the agreement. The exchange rate expresses how much it will cost in base currency to buy 100 units of the quote currency. If no exchange rate is supplied, the system will get the current daily rate, unless the quote currency is the same as the base currency, in which case it will be set to 100."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "pattern": "\\d{4}-\\d{2}-\\d{2}",
            "description": "The date the quote is due for payment. This property is only used if the terms of payment is of type \u0027duedate\u0027, in which case it is a mandatory property. Format according to ISO-8601 (YYYY-MM-DD)."
          },
          "grossAmount": {
            "type": "number",
            "readOnly": true,
            "x-max-decimals": 2,
            "description": "The total quote amount in the quote currency after all taxes and discounts have been applied."
          },
          "marginInBaseCurrency": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The difference between the cost price of the items on the quote and the sales net quote amount in base currency."
          },
          "marginPercentage": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The margin expressed as a percentage. If the net quote amount is less than the cost price this number will be negative."
          },
          "netAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total quote amount in the quote currency before all taxes and discounts have been applied."
          },
          "roundingAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total rounding error, if any, on the quote in base currency."
          },
          "vatAmount": {
            "type": "number",
            "x-max-decimals": 2,
            "readOnly": true,
            "description": "The total amount of VAT on the quote in the quote currency. This will have the same sign as net amount"
          },
          "layout": {
            "type": "object",
            "description": "The layout used by the quote.",
            "properties": {
              "layoutNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the layout."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the layout resource."
              }
            }
          },
          "project": {
            "type": "object",
            "description": "The project the quote is connected to.",
            "properties": {
              "projectNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the project."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the project resource."
              }
            }
          },
          "paymentTerms": {
            "type": "object",
            "description": "The terms of payment for the quote.",
            "properties": {
              "paymentTermsNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier of the payment term."
              },
              "daysOfCredit": {
                "readOnly": true,
                "type": "integer",
                "minimum": 0,
                "description": "The number of days of credit on the quote. This field is only valid if terms of payment is not of type \u0027duedate"
              },
              "paymentTermsType": {
                "enum": [
                  "net",
                  "invoiceMonth",
                  "paidInCash",
                  "prepaid",
                  "dueDate",
                  "factoring",
                  "invoiceWeekStartingSunday",
                  "invoiceWeekStartingMonday",
                  "creditcard",
                  "avtaleGiro"
                ],
                "readOnly": true,
                "description": "The type the payment term."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the payment term resource."
              }
            }
          },
          "customer": {
            "type": "object",
            "description": "The customer of the quote.",
            "properties": {
              "customerNumber": {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 1,
                "description": "The customer id number. The customer id number can be either positive or negative, but it can\u0027t be zero."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the customer resource."
              }
            }
          },
          "recipient": {
            "type": "object",
            "description": "The actual recipient of the quote. This may be the same info found on the customer (and will probably be so in most cases) but it may also be a different recipient. For instance, the customer placing the quote may be ACME Headquarters, but the recipient of the quote may be ACME IT.",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 250,
                "description": "The name of the actual recipient."
              },
              "address": {
                "type": "string",
                "maxLength": 250,
                "description": "The street address of the actual recipient."
              },
              "zip": {
                "type": "string",
                "maxLength": 50,
                "description": "The zip code of the actual recipient."
              },
              "city": {
                "type": "string",
                "maxLength": 250,
                "description": "The city of the actual recipient."
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "description": "The country of the actual recipient."
              },
              "ean": {
                "type": "string",
                "maxLength": 13,
                "description": "The \u0027European Article Number\u0027 of the actual recipient."
              },
              "publicEntryNumber": {
                "type": "string",
                "maxLength": 40,
                "description": "The public entry number of the actual recipient."
              },
              "attention": {
                "type": "object",
                "description": "The person to whom this quote is addressed.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the customer employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer employee."
                  }
                }
              },
              "vatZone": {
                "type": "object",
                "description": "Recipient vat zone.",
                "properties": {
                  "vatZoneNumber": {
                    "type": "integer",
                    "description": "Unique identifier of the vat zone."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the vat zone."
                  }
                }
              },
              "mobilePhone": {
                "type": "string",
                "description": "The phone number the quote was sent to (if applicable)."
              },
              "nemHandelType": {
                "enum": [
                  "ean",
                  "corporateIdentificationNumber",
                  "pNumber",
                  "peppol",
                  null
                ],
                "description": "Chosen NemHandel type used for e-invoicing."
              }
            },
            "required": [
              "name",
              "vatZone"
            ]
          },
          "deliveryLocation": {
            "type": "object",
            "description": "A reference to the place of delivery for the goods on the quote",
            "properties": {
              "deliveryLocationNumber": {
                "type": "integer",
                "minimum": 1,
                "description": "A unique identifier for the delivery location."
              },
              "self": {
                "type": "string",
                "format": "uri",
                "description": "A unique reference to the delivery location resource."
              }
            }
          },
          "delivery": {
            "type": "object",
            "description": "The actual place of delivery for the goods on the quote. This is usually the same place as the one referenced in the deliveryLocation property, but may be edited as required.",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 255,
                "description": "Street address where the goods must be delivered to the customer."
              },
              "zip": {
                "type": "string",
                "maxLength": 30,
                "description": "The zip code of the place of delivery."
              },
              "city": {
                "type": "string",
                "maxLength": 50,
                "description": "The city of the place of delivery"
              },
              "country": {
                "type": "string",
                "maxLength": 50,
                "description": "The country of the place of delivery"
              },
              "deliveryTerms": {
                "type": "string",
                "maxLength": 100,
                "description": "Details about the terms of delivery."
              },
              "deliveryDate": {
                "type": "string",
                "format": "date",
                "pattern": "\\d{4}-\\d{2}-\\d{2}",
                "description": "The date of delivery."
              }
            }
          },
          "notes": {
            "type": "object",
            "description": "Notes on the quote.",
            "properties": {
              "heading": {
                "type": "string",
                "maxLength": 250,
                "description": "The quote heading. Usually displayed at the top of the quote."
              },
              "textLine1": {
                "type": "string",
                "maxLength": 1000,
                "description": "The first line of supplementary text on the quote. This is usually displayed right under the heading in a smaller font."
              },
              "textLine2": {
                "type": "string",
                "maxLength": 1000,
                "description": "The second line of supplementary text in the notes on the quote. This is usually displayed as a footer on the quote."
              }
            }
          },
          "references": {
            "type": "object",
            "description": "Customer and company references related to this quote.",
            "properties": {
              "customerContact": {
                "type": "object",
                "description": "The customer contact is a reference to the employee at the customer to contact regarding the quote.",
                "properties": {
                  "customerContactNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the customer contact."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the customer contact resource."
                  }
                }
              },
              "salesPerson": {
                "type": "object",
                "description": "The primary sales person is a reference to the employee who sold the goods on the quote.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "vendorReference": {
                "type": "object",
                "description": "A reference to any second employee involved in the sale.",
                "properties": {
                  "employeeNumber": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Unique identifier of the employee."
                  },
                  "self": {
                    "type": "string",
                    "format": "uri",
                    "description": "A unique reference to the employee resource."
                  }
                }
              },
              "other": {
                "type": "string",
                "maxLength": 250,
                "description": "A text field that can be used to save any custom reference on the quote."
              }
            }
          },
          "pdf": {
            "type": "object",
            "description": "References a pdf representation of this quote.",
            "readOnly": true,
            "properties": {
              "download": {
                "type": "string",
                "format": "uri",
                "description": "The unique reference of the pdf representation for this draft quote."
              }
            }
          },
          "lines": {
            "title": "quote lines",
            "type": "array",
            "description": "An array containing the specific quote lines.",
            "items": {
              "type": "object",
              "description": "An array of the quote lines that make up the quote.",
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "description": "The line number is a unique number within the quote.",
                  "minimum": 1
                },
                "sortKey": {
                  "type": "integer",
                  "description": "A sort key used to sort the lines in ascending quote within the quote.",
                  "minimum": 1
                },
                "description": {
                  "type": "string",
                  "maxLength": 2500,
                  "description": "A description of the product or service sold. Please note, that when setting existing products, description field is required. While setting non-existing product, description field can remain empty."
                },
                "accrual": {
                  "type": "object",
                  "description": "The accrual for the quote.",
                  "properties": {
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The start date for the accrual. Format: YYYY-MM-DD."
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The end date for the accrual. Format: YYYY-MM-DD."
                    }
                  }
                },
                "unit": {
                  "type": "object",
                  "description": "The unit of measure applied to the quote line.",
                  "properties": {
                    "unitNumber": {
                      "type": "integer",
                      "description": "The unique identifier of the unit.",
                      "minimum": 1
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the unit resource."
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "description": "The product or service offered on the quote line.",
                  "properties": {
                    "productNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "The unique product number. This can be a stock keeping unit identifier (SKU)."
                    },
                    "self": {
                      "type": "string",
                      "description": "A unique reference to the product resource.",
                      "format": "uri"
                    }
                  }
                },
                "quantity": {
                  "type": "number",
                  "x-max-decimals": 2,
                  "description": "The number of units of goods on the quote line."
                },
                "unitNetPrice": {
                  "type": "number",
                  "x-max-decimals": 2,
[...]
